body {
            background-color: #e6e6e6;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
            font-size: 12px !important;
            line-height: 1.42857 !important;
        }

        /*.coverphoto, .output {

            width: 988px;

            height: 280px;

            border: 0px solid black;

            margin: -1px auto;

        }*/

        .btn-image {
            width: 68px;
            height: 26px;
            border-radius: 0px !important;
            margin-bottom: 3.76px;
            margin-left: -5px;
            text-align: center;
            padding: 0px;
        }
        /*.fa-search{
            font-size: 15px !important;
            color: gray;
        }*/
        #right-nav {
            width: 160px;
            background-color: white;
            height: 26px;
            text-align: center;
            margin-top: 14px;
            margin-right: 15px;
            padding-top: 4px;

        }
        .sidenav-class{
            width: 16.66666%;
        }
        .sidenav {
            height: 100%;
            width: 225px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: white;
            /*display: none;*/
            transition: 0.5s;
            padding: 20px 10px;
            margin-top: 62px;

        }
        .sidenav a {
            padding: 8px 8px 8px 15px;
            text-decoration: none;
            font-size: 17px;
            color: #818181;
            display: inline-flex;
            transition: 0.3s;
            width: 100%;
        }
        .sidenav a:hover, .offcanvas a:focus{
            color: black;
        }
        .img-class{
            width:100%;
            height:auto;
            padding:5px;
        }
        #imagecontainer{
            border:1px solid transparent;
            background-color: white;
            padding:10px;
            //margin-top: 60px;
            margin-top: 8px;
        }
        /*.fa{
            padding-right: 15px;
            padding-top: 3px;
        }*/
        .title{
            color:rgb(22,122,198);
            font-weight: bold;
            margin-left:6px;
            font-size: 13px;
        }
        .publisher{
            margin-left:6px;
            font-size: 11.5px;
            color: rgb(118,122,139);
        }
        .view{
            font-size: 11px;
            margin-left: 6px;
            color: rgb(118,122,139);
        }
        .topic{
            font-size:20px;
            font-weight: bold;
            margin-top: 20px;
            /*margin-left: 26px;*/
            font-weight: 500;
        }
        .topic-row{
            padding-bottom:30px;
            border-bottom: 1px solid rgb(239,239,239);
        }
        #navbar{
            background-color: white;
            position: fixed;
            z-index: 1;
            width: 100%;
        }
        .col-md-2{
            padding-left:0px;
            padding-right:0px;
        }
        .col {
            width: 19.7%;
            display: inline-block;
        }
        .nav-active{
            /*background-color: rgb(204,24,30);*/
            color:#818181 !important;
            border-right:4px solid rgb(204,24,30);
        }
        .sidenav-ul{
            margin-left: 0px;
            padding-left: 0px;
        }
        .sidenav-ul li{
            list-style-type:none ;
            padding: 2px;
        }
        .col-md-2:hover{
            border: 1px solid transparent;
            box-shadow: 1px 1px 20px;
        }
        .col:hover{
            border: 1px solid transparent;
            box-shadow: 1px 1px 20px;

        }
        #addphoto{
            margin-left: 0px;
        }
        #below-nav{
            border-bottom: 1px solid rgb(204,204,204);
            margin-top:15px;
            margin-bottom: 10px;

        }
        #button{
            margin-top: 5px;
        }
        #sidenav{
            padding: 0px;
            margin-bottom: 0px;
            border-bottom: 1px solid rgb(204,204,204);

        }
        .img-li{
            width: 30px;
            height: 30px;
            padding-right:3px;
        }
        .li-class{
            display: inline-flex;
        }
        .img-text{
            padding-top:3px;
        }
        #social {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
        }
        /*--------------------*/

        #navbar-nav{
            border-top:2px solid rgb(204,0,0);
            border-radius: 0px;
            background-color: rgb(0,0,0);
            position: fixed;
            z-index: 1;
            width: 100%;
        }
        .header{
            display: inline-flex;
            margin-left: 25px;

        }
        .header-img{
            padding: 15px 7px;
        }
        .num{
            color: white;
            font-size: 10px;
        }
        #img1{
            position: absolute;
            left: -6px;
        }
        #img1-notification {
            position: absolute;
            left: 5px;
            top: 6px;
            width: 35px;
            height: 55px;
        }
        #num1{
            position: absolute;
            left: 14px;
            top: 23px;

        }
        #img2{
            position: absolute;
            left: 40px;
        }
        #img2-notification {
            position: absolute;
            left: 57px;
            top: 4px;
            width: 33px;
            height: 55px;

        }
        #num2{
            position: absolute;
            left: 68px;
            top: 22px;

        }
        #img3{
            position: absolute;
            left: 91px;
        }
        #img3-notification {
            position: absolute;
            left: 110px;
            top: 4px;
            width: 36px;
            height: 55px;
        }
        #num3{
            position: absolute;
            left: 120px;
            top: 22px;

        }
        #contact{
            margin-left: 210px;
            margin-right: 20px;
            padding-top: 15px;

        }
        .fa-home{
            padding-top: 6px;
        }
        .text{
            color: white;
            font-size: 17px;
            font-weight: bold;

        }
        /*a{
            text-decoration: none;

            }
            a:hover{
            text-decoration: none;
        }*/
        .img {
            width: 50px;
            height: 53px;
            margin-left: 30px;
            border-radius: 40%;
            opacity: .7;
            margin-right: 10px;
        }
        #home{
            padding-top: 15px;
        }
        /*p{
            margin:0px;
            
            font-size: 15px;
        }*/
        .p{
            margin-top: 6px;
        }
            /*.fa-cog {
            font-size: 28px !important;
            color: rgb(100,99,98);
            margin: 14px 0px 0px 70px;
        }*/
        .header-img-a{
            position: relative;
        }

        #togglebtn {
            color: #ffffff;
            font-size: 24px;
            margin-top: -25px;
            position: relative;
            z-index: 1111111;
            top: -10px;
            left: 8px;
        }

        #button button {
            padding: 5px 5px;
        }

        /*.setting_icon {
            position: absolute; 
            color: rgb(100, 99, 98); 
            
            left: 140px; 
        }
        */

        .newbutton {
            color: #515151 !important;
            text-shadow: -1px 1px 0px #fff;
            outline: 0;
            white-space: nowrap;
            word-wrap: normal;
            vertical-align: middle;
            cursor: pointer;
            background-color: #fff;
            background-image: -webkit-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
            background-image: -moz-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
            background-image: -o-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
            background-image: -ms-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
            background-image: linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
            border: 1px solid #969696;
            -webkit-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
            box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
            float: right;
            text-transform: uppercase;
            text-align: center;
            font-size: 10px;
            font-weight: 700;
            /* width: 120px; */
            cursor: pointer;
            margin: 6px 10px 0 0;
            padding: 8px 10px;
        }

        .home_text_top {
            color: rgb(255, 255, 255);
            font-size: 13px;
            /*margin-top: -23px;*/
            margin-left: 36px;
            font-weight: bold;
        }

.album_header {
	color: black;
}
		
.col-md-2.column {
	width: 20%;
	padding: 5px 5px;
	margin-bottom: 10px;
}
.maanGallery{
	width:20% !important;
	cursor:pointer;
}
.col-sm-2.uplods{
	margin-bottom: 10px;
    padding: 0 5px;
    position: relative;
   /*  width: 16%; */
    height: 266px;
    background-color: #fff;
    margin: 0 4px 46px 0;
}	
.GalleryMaan{
	margin: 0 4px 130px 0 !important;
	width : 16% !important;
}
.shadowCss:hover{
	border: 1px solid transparent;
	box-shadow: 1px 1px 20px;
	background-color:#EEEEEE;
}

.k_-1{
	width:240px !important; 
}
.gallery-img:hover{
	box-shadow: 1px 1px 20px;
}
.galleryShadow:hover{
	box-shadow: 1px 1px 20px;
}
.galleryShadow{
	margin-bottom:55px !important;
}
