.fancybox-wrap
{
margin-left:340px !important;
}
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp
{
width: 586px !important;
}

.preview img{
width: 130px !important;
height: 130px;
}

.share_desc{
color: #000000;	
}

.Font18 {

font-size: 18px !important;

margin-top: -25px !important;

float: left !important;

margin-bottom: 40px;

width: 100%;

}



.cload {

background-image: url('images/loader.gif') no-repeat;

position: absolute;

z-index: 2;

margin-left: 30px;



}



.loadno {

display: none;

}



.loadspin {

padding-left: 20px;



}



.comment_box_reply {

background: #EFEEEE;

padding: 7px;

}



.loadmorecomment {

min-height: 30px;

text-align: center;

background-color: #F1F3F2;

cursor: pointer;

padding: 5px;

}



.fileUpload {

position: relative;

overflow: hidden;

margin: 10px;

}



.fileUpload input.upload {

position: absolute;

top: 0;

right: 0;

margin: 0;

padding: 0;

font-size: 20px;

cursor: pointer;

opacity: 0;

filter: alpha(opacity=0);

}



.fa-plus {

margin-top: 35px !important;

}



.one-photo {

width: 130px;

height: 130px;

text-align: center;

margin-top: 10px;

border: 2px dashed #ccc;

color: #ccc;

font-size: 13pt;

float: left;

margin-right: 5px;

margin-bottom: 5px;

}



.removePhoto {

z-index: 100;

position: relative;

text-align: right;

margin-right: 5px;

}



.fileUpload {



z-index: 10;

margin-top: 0px;

opacity: 0;

height: 100px;

position: absolute;

}



.preview {

position: relative;

float: left;

margin-top: -80px;

width: 130px;

margin-left: -2px;

height: 130px;

}



#picture {

display: none;

padding: 10px;

}



#picture::-webkit-scrollbar-track {

-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

background-color: #F5F5F5;

}



#picture::-webkit-scrollbar {

width: 6px;

background-color: #F5F5F5;

}



#picture::-webkit-scrollbar-thumb {

background-color: #000000;

}



.info_linkbox {

border: 1px solid #ccc;

margin: 7px 5px;

box-shadow: 0px 0px 1px #ccc;

overflow: hidden;

max-height: 80px;

line-height: 16px;

}



.peopwrap img {



width: 50px;

height: 45px;

}



#topblack {

top: 0px;

}



body {

background: #dbd8d8 !important;



padding-top: 0px !important;

}



td {

color: #333 !important;

}



.wrapper-dropdown-3 {

width: 100px !important;

}



.plusign {

padding: 3px;

background: none !important;

color: #333 !important;

border-radius: 20% !important;

box-shadow: none !important;

margin-left: 10px !important;

margin-top: 10px !important;

}



.plusign:hover {

background: #00c7df;

color: #fff;



}



.notshow {display: none;}



.notActshow {display: none;}



.tweetsAct {

cursor: pointer;

background: white;

color: blue;

text-align: center;

height: 40px;

color: #00BDFF;

margin-bottom: 15px;



}



.tweetsAct P {

padding: 10px;

font-weight: bold;

}



.tweetsAct:hover {

cursor: pointer;

background: #00BDFF;

color: blue;

text-align: center;

height: 40px;

color: white;

margin-bottom: 15px;



}



.comment_box_reply { display: none; }


.vjs-error .vjs-error-display .vjs-modal-dialog-content{
	display: none;
}

.vjs-error .vjs-error-display:before{
	display: none;
}