@charset "utf-8";

/* CSS Document */



body {

    height: 100%;

    min-height: 100%;

    position: relative;

}

/*=============================================*/

/*=============Landing Page====================*/

/*=============================================*/



.landing_bg{

	float:left;

	width:100%;

	background:url(../images/landing_bg.jpg) no-repeat;

	background-size:cover;

	position:absolute;

    min-height: 100%;

	}

.landing_out{

	position:relative;

	width:100%;

	}

.landing_text {

   /* background: rgba(24, 192, 231, 0.8);

    border: 1px solid #18c0e7;

    border-radius: 5px;

    box-shadow: 0 0 47px #00486f inset;*/

    float: left;

    margin: 0;

    padding: 20px;

    position: absolute;

    top: 400px;

    width: 100%;

}

.landing_text h1{

	width:100%;

	float:left;

	margin:0;

	color:#fff;

	font-size:15px;

	text-align:center;

	border-bottom:1px solid #00547b;

	padding-bottom:9px;

	}

.landing_text p{

	width:100%;

	float:left;

	margin:0;

	color:#fff;

	font-size:15px;

	text-align:center;

	padding:15px;

	}

.landing_text p a {

    background: #5bbc2e;

    color: #fff;

    font-size: 24px;

    font-weight: 400;

    margin: 8px;

    padding: 10px 70px;

    width: auto;

}

.login_header {

    background:rgba(0, 0, 0, 0.7);

    color: #fff;

    float: left;

    padding: 5px;

    width: 100%;

}

.logo {

    float: left;

    margin-top: 18px;

    width:100%;

}

.form1 {

    border-radius: 3px;

    float: left;

    margin:0;

    padding: 10px 10px 0;

    width: 100%;

}

.form1 h1 {

    font-size: 14px;

    margin: 4px 0 11px;

    padding: 0;

    width: 100%;

}

.form1 h2 {

    color: #fff;

    font-size: 22px;

    margin: 0 0 11px;

    padding: 0;

    text-align: center;

    width: 100%;

}

.form1 h1 span{

	color:#949494;

	}

.form1 a {

    color: #fff !important;

}

.form-horizontal p a {

    color: #f63 !important;

}

.left_no{

	padding-left:0;

	}

.btn_s{

	width:100%;

	}

.btn_ss {

    margin-top: 8px;

    width: 100%;

	border:none;

	background:#209900;

}

.checkbox_cu{

	padding:0 !important;

	}

.checkbox_cu a{

	padding:0 5px;

	}

.submit_btn{

	background:#F63;

	float:left;

	width:100%;

	height:28px;

	}

.landing_form{

	padding:0;

	margin-bottom:0 !important;

	}

/*-----------------------------------*/

/*-----------sign up-----------------*/

/*-----------------------------------*/



.signup{

	width:100%;

	float:left;

	}

.signup span {

    float: right;

    font-weight: 400;

    text-align: right;

    width: 100%;

}

.signup a{

	float:right;

	width:auto;

	font-size:14px;

	text-transform:uppercase;

	color:#000;

	text-decoration:none;

	font-weight:600;

	margin-top:5px;

	}

.login_form {

    float: left;

    width: 100%;

}



.male_femail {

    float: left;

    padding: 10px 0;

    width: 100%;

}

.male_femail label{

	font-weight:normal;

	}

.form-group{margin-bottom:2px;}

.form_inn {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */

background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */





    border-radius: 5px;

    box-shadow: 0 0 3px #7f7f7f;

    padding: 10px;

}

.form_outer{

	margin:28% 0 31.5%;

	padding:0 !important;

	}

.landing_left > h1 {

    color: #fff;

    font-size: 60px;

    text-shadow: 1px 2px 3px #6f6f6f;

	font-family: 'robotothin';

}

.landing_left > p {

    color: #fff;

    font-size: 20px;

    text-shadow: 1px 2px 3px #6f6f6f;

	font-family: 'robotothin';

}

.landing_left {

    float: left;

    margin-top: 23%;

    width: 100%;

}



.landing_footer {

    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;

    bottom: 0;

    float: left;

    padding: 7px;

    width: 100%;

	text-align:center;

	position:absolute;

}

.landing_footer a {

    color: #fff;

    font-size: 11px;

    font-weight: normal;

    padding: 3px;

	font-family: 'robotolight';

	text-transform:uppercase;

}

.landing_footer span {

    color: #fff;

    float: left;

    font-size: 11px;

    padding: 3px 0 0;

    width: 100%;

}



/*===================================*/

/*===========Padding Class===========*/

/*===================================*/



.padding_all {

    padding: 2px;

}

.padding_right {

    padding-right: 1px;

}

.padding_left {

    padding-left: 1px;

}

.padding_all input {

    border: medium none;

    border-radius: 0;

}


.form-control.error{ border: 1px solid red;}


html,

body {

   margin:0;

   padding:0;

   height:100%; overflow-x: hidden;

}

#container {

   min-height:100%;

   /*background: rgba(0, 0, 0, 0) url("../images/landing_bg.jpg") no-repeat scroll 0 0 / cover ;*/
   
   float: left;
  
   position: absolute;
   
   width: 100%;

}

#header {

   padding:0;

}

#body {

   padding:0;

   padding-bottom:0;   /* Height of the footer */

}

#footer {

   position:absolute;

   bottom:0;

   width:100%;   /* Height of the footer */

}

.create_accounttp{ display:none;}
.Forgottenyourpassword{ display:none;}



 .Forgottenyourpassword1{ float: left;
    margin-top: 10px;
    padding-left: 72px; font-size:12px; width:100%;}

 .Forgottenyourpassword1 a{ color:#fff;}



@media only screen and (max-width: 328px) {  
	.form1 .error{ display:none;}
	.form1 .checkbox_cu{ display:none;}
	.form1 .padding_all a{ display:none;}
	.padding_all{ padding:0px 2px;}
	.form-control{ height:45px;}
	.padding_all #login_username{ background:none; border:1px solid #666666; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px; color:#fff;}
.padding_all #login_password{background:none;  -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;  color:#fff;border:1px solid #666666; border-top:none;}

.form-group{ margin-top:10px;}
.padding_all #login_btn{border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    margin-top: 15px;}
	.login_outer{ display:none;}


.create_accounttp{display: block;
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;}
	.create_accounttp .create_new_account{ background:none;
 font-size: 16px;
    font-weight: bold;
    padding: 11px 50px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #666666;
}

.landing_footer{ position:relative; }
#footer{ position:relative;}
.Forgottenyourpassword{ float:left; text-align:center; width:100%; text-align:center; display:block; margin-top:15px;  margin-bottom:15px;   font-size: 11px;}
.black_1{ padding:0px 0px !important;}
.black_2{ padding-left:0px!important; padding-right:0px!important;}
.black_4{ padding-left:0px!important; padding-right:0px!important;}
.logo{ background:#000; margin-top:0px;   padding: 10px 0;}
.pading_30{ padding-left:30px!important; padding-right:30px!important;}
 .Forgottenyourpassword1{ float: left;
    margin-top: 10px;
 font-size:12px; width:100%; text-align:center; padding-left:0px;}
 .profile_boder{ float:left; width:100%; border:1px solid #666666; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   padding: 10px;}
.terms_main{ display:block!important;
}.terms .form1{ display:none;}
.terms .login_header{ background:#000;}
.terms.login_header{ padding: 5px 5px 6px !important;}
.aero_main{display: block!important;
    left: 10px;
    position: absolute;
    top: 20px;}
}
@media only screen and (max-width: 320px) {

.form1 .error{ display:none;}
	.form1 .checkbox_cu{ display:none;}
	.form1 .padding_all a{ display:none;}
		.padding_all{ padding:0px 2px;}
	.form-control{ height:45px;}
		.padding_all #login_username{background:none;  border:1px solid #666666; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;  color:#fff;}
.padding_all #login_password{  color:#fff; background:none; -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; border:1px solid #666666; border-top:none;}
.form-group{ margin-top:10px;}
.padding_all #login_btn{border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    margin-top: 15px;}
	.login_outer{ display:none;}
	
	
	
	.create_accounttp{display: block;
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;}
	
		.create_accounttp .create_new_account{  background:none;
 font-size: 16px;
    font-weight: bold;
    padding: 11px 50px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #666666;
}

.landing_footer{ position:relative;}
#footer{ position:relative;}
.Forgottenyourpassword{ float:left; text-align:center; width:100%; text-align:center; display:block; margin-top:15px;  margin-bottom:15px;   font-size: 11px;}


.black_1{ padding:0px 0px !important;}
.black_2{ padding-left:0px!important; padding-right:0px!important;}
.black_4{ padding-left:0px!important; padding-right:0px!important;}
.logo{ background:#000; margin-top:0px;   padding: 10px 0;}
.pading_30{ padding-left:30px!important; padding-right:30px!important;}
 .Forgottenyourpassword1{ float: left;
    margin-top: 10px;
 font-size:12px; width:100%; text-align:center; padding-left:0px;}
  .profile_boder{ float:left; width:100%; border:1px solid #666666; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   padding: 10px;}
.terms_main{ display:block!important;
}
.terms .form1{ display:none;}
.terms .login_header{ background:#000;}
.terms .login_header{ padding: 5px 5px 6px !important;}
.aero_main{display: block!important;
    left: 10px;
    position: absolute;
   top: 20px;}
}
@media only screen and (max-width: 375px) {
.form1 .error{ display:none;}
	.form1 .checkbox_cu{ display:none;}
	.form1 .padding_all a{ display:none;}
		.padding_all{ padding:0px 2px;}
	.form-control{ height:45px;}
		.padding_all #login_username{background:none;  color:#fff;  border:1px solid #666666; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.padding_all #login_password{ background:none;  color:#fff;  -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; border:1px solid #666666; border-top:none;}
.form-group{ margin-top:10px;}
.padding_all #login_btn{ border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    margin-top: 15px;}
	.login_outer{ display:none;}
	
	
	
	.create_accounttp{ display: block;
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;}
	
		.create_accounttp .create_new_account{  background:none;
 font-size: 16px;
    font-weight: bold;
    padding: 11px 50px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #666666;
}

.landing_footer{ position:relative;}
#footer{ position:relative;}
.Forgottenyourpassword{ float:left; text-align:center; width:100%; text-align:center; display:block; margin-top:15px;  margin-bottom:15px;   font-size: 11px;}


.black_1{ padding:0px 0px !important;}
.black_2{ padding-left:0px!important; padding-right:0px!important;}
.black_4{ padding-left:0px!important; padding-right:0px!important;}
.logo{ background:#000; margin-top:0px;   padding: 10px 0;}
.pading_30{ padding-left:30px!important; padding-right:30px!important;}
 .Forgottenyourpassword1{ float: left;
    margin-top: 10px;
 font-size:12px; width:100%; text-align:center; padding-left:0px;}
  .profile_boder{ float:left; width:100%; border:1px solid #666666; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   padding: 10px;}
.terms_main{ display:block!important;
}
.terms .form1{ display:none;}
.terms .login_header{ background:#000;}
.terms .login_header{ padding: 5px 5px 6px !important;}
.aero_main{display: block!important;
    left: 10px;
    position: absolute;
     top: 20px;}
}
@media only screen and (max-width: 384px) {

.form1 .error{ display:none;}
	.form1 .checkbox_cu{ display:none;}
	.form1 .padding_all a{ display:none;}
		.padding_all{ padding:0px 2px;}
	.form-control{ height:45px;}
		.padding_all #login_username{background:none;  color:#fff;  border:1px solid #666666; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.padding_all #login_password{background:none;  color:#fff;  -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; border:1px solid #666666; border-top:none;}
.form-group{ margin-top:10px;}
.padding_all #login_btn{ border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    margin-top: 15px;}
	.login_outer{ display:none;}
	
	
	
	.create_accounttp{ display: block;
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;}
	
	
		.create_accounttp .create_new_account{  background:none;
  font-size: 16px;
    font-weight: bold;
    padding: 11px 50px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #666666;
}

.landing_footer{ position:relative;}
#footer{ position:relative;}
.Forgottenyourpassword{ float:left; text-align:center; width:100%; text-align:center; display:block; margin-top:15px;  margin-bottom:15px;   font-size: 11px;}


.black_1{ padding:0px 0px !important;}
.black_2{ padding-left:0px!important; padding-right:0px!important;}
.black_4{ padding-left:0px!important; padding-right:0px!important;}
.logo{ background:#000; margin-top:0px;   padding: 10px 0;}
.pading_30{ padding-left:30px!important; padding-right:30px!important;}
 .Forgottenyourpassword1{ float: left;
    margin-top: 10px;
 font-size:12px; width:100%; text-align:center; padding-left:0px;}
  .profile_boder{ float:left; width:100%; border:1px solid #666666; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   padding: 10px;}
.terms_main{ display:block!important;
}
.terms .form1{ display:none;}
.terms .login_header{ background:#000;}
.terms .login_header{ padding: 5px 5px 6px !important;}
.aero_main{display: block!important;
    left: 10px;
    position: absolute;
    top: 20px;}
}
@media only screen and (max-width: 414px) {

.form1 .error{ display:none;}
	.form1 .checkbox_cu{ display:none;}
	.form1 .padding_all a{ display:none;}
		.padding_all{ padding:0px 2px;}
	.form-control{ height:45px;}
		.padding_all #login_username{ background:none;  color:#fff; border:1px solid #666666; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.padding_all #login_password{background:none;  color:#fff;  -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; border:2px solid #d6d6d8; border-top:none;}
.form-group{ margin-top:10px;}
.padding_all #login_btn{border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    margin-top: 15px;}
	.login_outer{ display:none;}
	
	
	.create_accounttp{ display: block;
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;}
	
	
		.create_accounttp .create_new_account{  background:none;
 font-size: 16px;
    font-weight: bold;
    padding: 11px 50px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #666666;
}
.landing_footer{ position:relative;}
#footer{ position:relative;}
.Forgottenyourpassword{ float:left; text-align:center; width:100%; text-align:center; display:block; margin-top:15px;  margin-bottom:15px;   font-size: 11px;}


.black_1{ padding:0px 0px !important;}
.black_2{ padding-left:0px!important; padding-right:0px!important;}
.black_4{ padding-left:0px!important; padding-right:0px!important;}
.logo{ background:#000; margin-top:0px;   padding: 10px 0;}
.pading_30{ padding-left:30px!important; padding-right:30px!important;}
 .Forgottenyourpassword1{ float: left;
    margin-top: 10px;
 font-size:12px; width:100%; text-align:center; padding-left:0px;}
  .profile_boder{ float:left; width:100%; border:1px solid #666666; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   padding: 10px;}
.terms_main{ display:block!important;
}

.terms .form1{ display:none;}
.terms .login_header{ background:#000;}
.terms .login_header{ padding: 5px 5px 6px !important;}
.aero_main{display: block!important;
    left: 10px;
    position: absolute;
     top: 20px;}
}
@media only screen and (max-width: 480px) {

.form1 .error{ display:block;} 
	.form1 .checkbox_cu{ display:none;}
	.form1 .padding_all a{ display:none;}
		.padding_all{ padding:0px 2px;}
	.form-control{ height:45px;}
		.padding_all #login_username{ background:none;  color:#fff; border:1px solid #666666; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.padding_all #login_password{ -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;  color:#fff; border:1px solid #666666; border-top:none; background:none;}
.form-group{ margin-top:10px;}
.padding_all #login_btn{border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    margin-top: 15px;}
	.login_outer{ display:none;}
	
	
	.create_accounttp{ display: block;
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;}
	
		.create_accounttp .create_new_account{ background:none;
  font-size: 16px;
    font-weight: bold;
    padding: 11px 50px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #666666;
}

.landing_footer{ position:relative;}
#footer{ position:relative;}
.Forgottenyourpassword{ float:left; text-align:center; width:100%; text-align:center; display:block; margin-top:15px; margin-bottom:15px;   font-size: 11px;}


.black_1{ padding:0px 0px !important;}
.black_2{ padding-left:0px!important; padding-right:0px!important;}
.black_4{ padding-left:0px!important; padding-right:0px!important;}
.logo{ background:#000; margin-top:0px;   padding: 10px 0;}
.pading_30{ padding-left:30px!important; padding-right:30px!important;}
 .Forgottenyourpassword1{ float: left;
    margin-top: 10px;
 font-size:12px; width:100%; text-align:center; padding-left:0px;}
  .profile_boder{ float:left; width:100%; border:1px solid #666666; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   padding: 10px;}
.terms_main{ display:block!important;
	
}
.terms .form1{ display:none;}
.terms .login_header{ background:#000;}
.terms .login_header{ padding: 5px 5px 6px !important;}
.aero_main{display: block!important;
    left:10px;
    position: absolute;
     top: 20px;}
}

. padding_all .error{ display:none;}

.form1 .padding_all #login_username.form-control.error {
    border: 1px solid red;
}

.form1 .padding_all #login_password.form-control.error {
    border: 1px solid red;
}
.form1 #AuthForm_log label.error {
    display: none !important;
}
.aero_main{display: none;
    left: 20px;
    position: absolute;
    top: 20px;}