#main{
	width  : 100%;
	height : 500px;
}
#top{
	width : 100%;
	height: 200px;
	background-color: #333333;
	color:#FFF;
	text-align: center;
	padding: 20px;

}
#heading{
	font-weight: bold;
}
#top p {
   font-size: 30px;
   
}
#top p small {
   font-size: 15px;

}  
#bottom{
	width : 100%;
	height: 352px;
	
}	
.social_name{
	color: gray;
}

.btn-maan{
	background-color: #333333;
	color: #fff;
	width: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #FF852A;
	border-radius: 3px;
	text-decoration:none;
}
a:focus, a:hover{
	color :#fff !important;
	text-decoration :none !important;
}

.space{
	margin-left: 20px;
}
.socialTabMenu{
	margin-left: 50px;
	margin-top: 20px;

}
#last{
	width : 100%;
	height: 11px;
	background-color: #333333;
}
.lastbtn{
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}