.scrapedTitle {
    margin-top: 10px;
}

.single-comment {
    margin-top: -38px;
}

.line {
    background: #b8b8b8 none repeat scroll 0 0;
    height: 1px;
}

.post_comment_a {
    width: 79% !important;
    margin-right: 4px !important;
}

.author_comment_c img {
    padding: 5px;
    margin-left: 50px;
}

.author_comment_c .slider_two_times {
    padding-right: 19px;
}

.profile_page_c .slider_title_style {
    padding-left: 42px;
    margin-top: -30px;
}

.all_comment_text .comment_box a {
    color: #808080;
    padding: 6px 6px;
}

.author_comment_c {
    background: #FFF none repeat scroll 0% 0%;
    margin-top: 7px;
}

.comment_box_small input {
    padding: 4px 10px;
}

.comment_video2 {
    margin: 7px;
}

.profile_page_slider {
    margin-top: 15px;

}

/* left sidebar */

.profile_page .main_profile_pic {
    margin-top: 30px;
    border: 3px solid #000;
    margin-left: 0;
    /*box-shadow: 0px 0px 10px #0E0D0D;*/
    box-shadow: 0 10px 5px -3px gray;

}

.profile_page .main_profile_pic img {
    /*width: 250px;*/
    height: auto;
    width: 100%
}

.profile_page .basic_information_select {
    /*width: 85%;*/
    background: #2D2C2C;
    border: none;
}

.profile_page option {
    padding: 3px 10px;
}

/* middle sidebar */

.profile_page_middle {
    margin-top: 30px !important;
}

.profile_page_middle .share_twitter_instragram {
    background: #EFEEEE;
    display: block;
    color: #fff;
    overflow: hidden;
}

.profile_page_middle .basic_information_select {
    width: 150px;
    border: none;
    padding: 5px 0;
    color: #fff;
    font-weight: bold;
}

.profile_page_middle .share_twitter_instragram span {
    float: right;
}

.share_twitter_instragram .twitter_share {
    background: #25ACDB;
}

.share_twitter_instragram .share_instagram {
    background: #925C52;
}

.twitter_share i, .share_instagram i {
    font-size: 20px;
    padding: 0 5px;
}

.twitter_share select {
    background: #25ACDB;

}

.share_instagram select {
    background: #925C52;

}

.twitter_share option, .share_instagram option {
    padding: 3px 0;
    background: #2D2C2C;

}

.share_twitter_instragram p {
    margin: 0;
    padding: 0;
}

.s_t_i_style {
    font-size: 20px;
    padding: 8px 12px;
    color: #676767;
}

/* comment section  */
.comment_author {
    background: #ffffff;
    padding: 6px;
}

.comment_right {
    background: #ffffff;
}

.comment_area_middle .slider_title_style2 {
    margin-top: 15px;
    padding-left: 0px;
}

.comment_area_middle .author_upload_name {
    padding-left: 0;
}

.comment_area_middle .update_profile_date {
    padding-left: 0;
}

.comment_right {
    background: #FFF;
    width: 80.8%;
    box-shadow: 0px 0px 7px #BBB;
}

.comment_top_p {
    font-size: 13px;
}

.comment_upload_photol {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-left: 10px;
    padding-top: 10px;
}

.comment_upload_photol img {
    width: 100%;
}

.like_comment_share_number_count {
    margin-top: 15px;

}

.like_comment_share_number_count p {
    margin-left: -15px;
    margin-right: -15px;
    background: #EFEEEE;
    padding: 5px 15px;
}

.like_comment_share_number_count span {
    padding-right: 40px;
}

.comment_right .like_comment_share {
    margin-left: -15px;
    margin-right: -15px;
}

.comment_right .comment_box {
    margin-left: -15px;
    margin-right: -15px;
}

.comment_right .comment_box input {
    width: 98%;
    margin-right: -18px;
}

.comment_right .comment_box_inline {
    padding: 3px 0px;
}

.comment_right .comment_box img {
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 9;
    padding: 6px;
}

.comment_right .comment_box_inline {
    padding: 10px 0 10px 39px;
}

.comment_right .slider_two_title {
    padding: 7px 0px;
    margin-left: -7px;
}

.comment_right .slider_title_style {
    padding-left: 42px;
    margin-top: -41px;
}

.comment_right .author_slide_top {
    font-size: 14px;
    color: #464646;
}

.comment_box_bottom_text {
    font-size: 14px;
    padding-left: 5px;
    line-height: 1;
}

.like_and_reply span {
    padding-left: 5px;
    color: #155A9A;
}

.comment_reply {
    padding-left: 10px !important;
    padding-right: 10px;
}

.like_and_reply {
    color: #464646;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 3px;
}

.comment_right .line {
    background: #B8B8B8;
    height: 1px;
    margin-left: -15px;
    margin-right: -15px;
}

.comment_to_comment .comment_box input {
    width: 91%;
    margin-right: -18px;
}

.comment_video {
    /*margin: 5px;*/
}

.author_comment_c .slider_two_times {
    padding-right: 19px;
}

.author_comment_c {
    background: #FFFFFF;
}

.s_comment_image {
    margin: 7px;
}

.comment_right .s_comment_box input {
    width: 91%;
    margin-right: -18px;
}

.comment_box_bottom_text2 {
    padding-left: 5px;
    padding-top: 10px;
}

.l_comment_margin_b {
    margin-bottom: 15px;
    margin-top: 15px;
}

.profile_page_slider_two {
    margin-top: 15px;
}

.profile_page_right_sidebar {
    /*margin-top:30px;*/
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content{
    display: none;
}

.vjs-error .vjs-error-display:before{
    display: none;
}
