body {
 /* padding-top: 183px; */
  padding-bottom: 0px;
  background:#ffffff;
  font-family:Arial;
}
.fleft {float: left;}
.fright {float: right;}

.cols-xs {
	max-width:550px;
	background:#f0f0f0;
	border-radius:6px;
	margin:0 auto;
	border:1px solid #e3e7ea;
	margin-top:80px;
	}
	
	.StepProgresses {
		height:60px;
		width:100%;
		
		}
		.toggle-steps{
			color:#FFF;
			text-decoration:none;
			display:block;
		}
		.toggle-steps:hover,.toggle-steps:active,.toggle-steps:focus{
			color:#FFF;
			text-decoration:none;
			outline:none;
		}
		.Step1Process {font-weight:bold;color:#FFF;font-family:Arial;padding:10px 0px 0px 10px;background:url(../rgimages/step1-bg.png) no-repeat; float:left; color:#FFF; width:156px; height:60px;}
		.Step1Processttp1 {font-weight:bold;color:#FFF;font-family:Arial;padding:10px 0px 0px 10px;background:url(../rgimages/step1-bg2_1.png) no-repeat; float:left; color:#FFF; width:156px; height:60px;}
		.Step2Process {font-weight:bold;color:#FFF;font-family:Arial;padding:10px 0px 0px 10px;background:url(../rgimages/step-bg.png) no-repeat; float:left; width:138px;height:60px;}
		
		
				.Step2Processttp2 {font-weight:bold;color:#FFF;font-family:Arial;padding:10px 0px 0px 10px;background:url(../rgimages/step-bg2.png) no-repeat; float:left; width:138px;height:60px;}
		
			.Step2Processttp23 {font-weight:bold;color:#FFF;font-family:Arial;padding:10px 0px 0px 10px;background:url(../rgimages/step-bg31.png) no-repeat; float:left; width:138px;height:60px;}
		.Step3Process {font-weight:bold;color:#FFF;font-family:Arial;padding:10px 0px 0px 10px;background:url(../images/step-bg2.png) no-repeat; float:left;width:138px;height:60px;}
		.Step4Process {font-weight:bold;color:#FFF;font-family:Arial;padding:10px 0px 0px 10px;background:url(../rgimages/step4-bg.png) no-repeat; float:left;width:117px;height:60px;}
			.Step4Process5 {font-weight:bold;color:#FFF;font-family:Arial;padding:10px 0px 0px 10px;background:url(../rgimages/step4-bg5.png) no-repeat; float:left;width:117px;height:60px;}
        .StepProgresses small {font-weight:normal;}
		
	.Step1-25Percent {
		width:25%;
		float:left;
		height:23px;
		clear:both;}
		
	.progress-bar-warning {
    background: url("../rgimages/progressbar-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family:Arial;
	font-size:11px;
}

.progress {
    background: url("../rgimages/progress-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	-o-border-radius: 0px;
    height: 22px;
    margin-bottom: 20px;
	margin-top:-2px;
    overflow: hidden;
	width: 99.9%;
	text-align:right;
	padding-right:20px;
}

.InviteYourFrieds {font-size:18px;
font-weight:bold;
margin-left:20px;}

.InviteFriendsInputs {
margin:30px 20px;}
.InviteFriendsInputs .form-inline {float:right;}

.gmailLogin, .Outlook-Hotmail, .YahooLogin {border-bottom: 1px dotted #9a9a9a; height:55px;padding:10px 0px 10px 0px; line-height:20px;}
.OtherEmailService {height:55px;padding:10px 0px 10px 0px; line-height:20px;}
.InviteFriendsInputs .form-control{font-size:12px; width:195px;}
.MailLoginIcon {width:11%; float:left;}
.ActiveLogin {font-weight:bold;}
.FormTitleText { line-height:29px;}

.InviteFriendsInputs .btn{border-radius:4px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
 color:#ffffff; padding: 7px 12px; margin-left: -10px; border:none;}

.ActiveLogin .btn{border-radius:4px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
 color:#ffffff; padding: 7px 12px;margin-left: -10px;}	
.SaveOrSkip {background: #0e0e0e none repeat scroll 0 0;
    border-radius: 0 0 6px 6px;
    height: 78px;
    /*margin-bottom: 20px;*/
    padding: 19px 18px 0 0;
    vertical-align: middle;}	

.FooterBelowHints{font-size:10px; margin:0 auto; width:550px;color:#898989;padding:0px 20px 0px 20px;margin-top: 20px;}	
.SaveOrSkip .fright a, .SaveOrSkip .fright {color:#cccccc;}
.SaveOrSkip .btn {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */ border:1PX solid #ff8500!important;


border-radius:4px;color:#ffffff; padding: 7px 12px; border:none; height:40px;}
.25percent, .50percent, .75percent, .100percent {font-weight:bold; font-size:12px;}

.SelectCountry, .SelectCurrentState, .CurrentCitySelect, .HometownSelect {border-bottom: 1px dotted #9a9a9a; height:55px;padding:10px 0px 10px 0px; line-height:20px;}

.SelectCounCityDetails {
margin:20px}
.SelectCounCityDetails .form-control{font-size:12px; width:245px;float:right;}
.SelectCounCityDetails .form-inline {float:right;}

.PhotoUploadLeft {width:250px; float:left; margin:0px 0px 20px 44px;}
.PhotoUploadRight  {width:208px; float:left; text-align:center;}


.ProfilePhotoFrame img{border:6px solid #595959; outline:1px solid #7d7d7d;}

.merge {clear:both;}
.orDevider {width:35%; color:#c5c5c5;}
.PhotoUploadSpan a {font-size:16px; font-weight:bold; color:#000000;}
.SocialNetworksEmailTabs {padding:20px;}
.nav > li > a {
    color: #000000;

    font-weight: bold;

}

tr {border-bottom:1px solid #dadada; }
td {padding-top:10px; padding-bottom:10px;}
td img {padding-right:20px;}
.skipstep{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,cfcfcf+100 */
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(top,  #ececec 0%, #cfcfcf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ececec 0%,#cfcfcf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ececec 0%,#cfcfcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */ padding: 9px 20px; margin-right:10px; border:none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; float:left; margin-top:1px;
color:#000;}

.contact{ background: #f0f0f0 none repeat scroll 0 0; } 
.contact .outer{ float:left; width:100%;}
.contact .box_main{ margin:auto; max-width: 550px; margin-top:3%;}
.contact .contact_main{ background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #e3e7ea;
    border-radius: 6px;
    float: left;
   
    width: 100%;}
.contact .gmail_contact{ float:left; width:100%; background:#fff; -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; padding:10px;}
.contact .gmail_contact h1{ float:left; margin:0px; color:#637c90; font-size:20px; width:100%;}
.contact .gmail_contact  h1 img{ margin-right:5px;}
.contact .gmail_contact p{ float:left; font-size:12px; color:#637c90; width:60%; margin-top:5px; }
.contact .gmail_contact span{ float:right; margin-top:5px;}
.contact .gmail_contact span.invitationcount,.contact .gmail_contact span.requestcount{ float:none;}
.contact .profile_box{ float:left; width:100%; border-top:1px solid #e5e6e8; padding:10px;}
.contact .profile_box img{ float:left; margin-right:10px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.contact .profile_box input{ float:right; margin-top:16px !important;}


.contact .SaveOrSkip {
    background: #0e0e0e none repeat scroll 0 0;
    border-radius: 0 0 6px 6px;
    float: left;
    height: 58px;
    padding: 10px 18px 0 0;
    vertical-align: middle;
    width: 100%;
}
.contact .SaveOrSkip  span{margin-left: 20px;
    padding-top: 20px;
    vertical-align: middle;}
	.fright {
    float: right; color: #fff;
}
.contact .SaveOrSkip .btn {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */ border:1PX solid #ff8500!important;


border-radius:4px;color:#ffffff; padding: 7px 12px; border:none; height:40px;
}
.contact .secrol{height:250px; width:100%; overflow-x:hidden;}
.contact .SaveOrSkip .btn:hover{ color:#fff;}
.contact .StepProgresses {
    height: 60px;
    width: 100%;
}
.contact .Step1Process {
    background: rgba(0, 0, 0, 0) url("../images/step1-bg.png") no-repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: Arial;
    font-weight: bold;
    height: 60px;
    padding: 10px 0 0 10px;
    width: 156px;
}
.contact .StepProgresses small {
    font-weight: normal;
}
.contact .Step2Process {
    background: rgba(0, 0, 0, 0) url("../images/step-bg.png") no-repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: Arial;
    font-weight: bold;
    height: 60px;
    padding: 10px 0 0 10px;
    width: 138px;
}
.contact .gmail_contact h1 a{ font-size:12px;}
.contact .Step3Process {
    background: rgba(0, 0, 0, 0) url("../images/step-bg2.png") no-repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: Arial;
    font-weight: bold;
    height: 60px;
    padding: 10px 0 0 10px;
    width: 138px;
}

.contact .progress {
    background: rgba(0, 0, 0, 0) url("../images/progress-bg.png") repeat scroll 0 0;
    border-radius: 0!important;
    height: 22px;
    margin-bottom: -1px !important;
    margin-top: -2px;
    overflow: hidden;
    padding-right: 20px;
    text-align: right;
    width:100%;
}
.contact .progress-bar-warning {
    background: rgba(0, 0, 0, 0) url("../images/progressbar-bg.png") repeat scroll 0 0;
    font-family: Arial;
    font-size: 11px;
}
.contact .skipstep{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,cfcfcf+100 */
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(top,  #ececec 0%, #cfcfcf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ececec 0%,#cfcfcf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ececec 0%,#cfcfcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */ padding: 9px 20px; margin-right:10px; border:none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; float:left; margin-top:1px; margin-left:15px;}
.contact .top_check_box{ float:left; width:100%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282828+0,404040+100 */
background: #282828; /* Old browsers */
background: -moz-linear-gradient(top,  #282828 0%, #404040 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #282828 0%,#404040 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #282828 0%,#404040 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#404040',GradientType=0 ); /* IE6-9 */ padding:12px 10px;
 color:#fff;
}
.contact .top_check_box input{ float:left;}
.contact .profile_box1{width:100%; border-top:1px solid #e5e6e8; padding:10px;}
.contact .profile_box1 span{ float:left; margin-left:10px; font-weight:bold; min-width:30%;}
.contact .profile_box1 input{ float:left; margin-right:10px;}
.contact .profile_box1 a { margin-left:15%; color:#747474;}
.contact .invites_footer{ float:left; width:100%; background:#0e0e0e ;-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;  padding: 20px 10px;}
.contact .invites{ float:left;}
.contact-list{ clear:both;height: 250px;overflow-x: hidden;}
.contact .button_ttp{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */ border:1PX solid #ff8500!important;


border-radius:4px;color:#ffffff; padding: 7px 12px; border:none; height:40px;}
.contact .invites_footer button{ float:right;}
.contact .invites_footer span{ color:#fff; margin-top:8px;}
.contact .no-contact span{ padding: 20px; display: block; margin: 0px auto; font-size: 18px; width: 40%;}
.requestcount,.invitationcount{ margin-left:0px !important;padding-top: 0 !important;}