.rs_container{
	margin:30px auto;
	max-width:1200px;
	color:#000;
}
.rs_video_player{}
.rs_video_player img{
	display: block;
}
#rs_video_canvas{
	position: fixed;
	bottom:0;
	right: 0;
}
.rs_single_canvas_item{
	display: block;
	margin:5px;
	float: left;
	background: #ccc;
}
.rs_single_canvas_item:nth-child(odd){
	clear:left;
}
.rs_video_in_canvas  .vjs-poster{
	display: block !important;
}

.rs_cvsv_video1-dimensions{
	min-width: 298px;
	min-height: auto;
}