 body {
	margin: 0;
	padding: 0;
 }
 
 #background_m 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 672px;
	 height: 589px; 
	 overflow: hidden;
	 z-index:0;
	} 
	


 #Background_m 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 672px;
	 height: 589px;
	 z-index:1;
	 background:#FFF;
} 

.Background_m 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 672px;
	 height: 589px;
	 z-index:1;
	 background:#FFF;
} 



 #BG_m 
{ 
	 left: 427px; 
	 top: 502px; 
	 position: absolute; 
	 width: 177px;
	 height: 38px;
	 z-index:2;
} 

 #Saveandcontinue_m 
{ 
	 left: 458px; 
	 top: 509px; 
	 position: absolute; 
	 width: 115px;
	 height: 12px;
	 z-index:3;
} 

 #BG_0_m 
{ 
	 left: 334px; 
	 top: 502px; 
	 position: absolute; 
	 width: 90px;
	 height: 38px;
	 z-index:4;
} 

 #Skip_m 
{ 
	 left: 366px; 
	 top: 511px; 
	 position: absolute; 
	 width: 27px;
	 height: 14px;
	 z-index:5;
} 

 #BG_1_m 
{ 
	 left: -1px; 
	 top: 573px; 
	 position: absolute; 
	 width: 674px;
	 height: 18px;
	 z-index:6;
} 

 #BG_2_m 
{ 
	 left: -1px; 
	 top: 249px; 
	 position: absolute; 
	 width: 673px;
	 height: 220px;
	 z-index:7;
} 

 #BG_3_m 
{ 
	 left: 498px; 
	 top: 367px; 
	 position: absolute; 
	 width: 105px;
	 height: 38px;
	 z-index:8;
} 

.BG_3_m 
{ 
	 left: 498px; 
	 top: 367px; 
	 position: absolute; 
	 width: 105px;
	 height: 38px;
	 z-index:8;
} 

 #Cancel_m 
{ 
	 left: 529px; 
	 top: 375px; 
	 position: absolute; 
	 width: 43px;
	 height: 12px;
	 z-index:9;
} 

.Cancel_m 
{ 
	 left: 529px; 
	 top: 375px; 
	 position: absolute; 
	 width: 43px;
	 height: 12px;
	 z-index:9;
} 

 #BG_4_m 
{ 
	 left: 323px; 
	 top: 367px; 
	 position: absolute; 
	 width: 172px;
	 height: 38px;
	 z-index:10;
} 

.BG_4_m 
{ 
	 left: 323px; 
	 top: 367px; 
	 position: absolute; 
	 width: 172px;
	 height: 38px;
	 z-index:10;
} 

 #AuthorizeAccess_m 
{ 
	 left: 354px; 
	 top: 374px; 
	 position: absolute; 
	 width: 111px;
	 height: 12px;
	 z-index:11;
} 

 #InstagramLogo_m 
{ 
	 left: 101px; 
	 top: 369px; 
	 position: absolute; 
	 width: 34px;
	 height: 34px;
	 z-index:12;
} 

 #Rectangle2_m 
{ 
	 left: 67px; 
	 top: 375px; 
	 position: absolute; 
	 width: 20px;
	 height: 18px;
	 z-index:13;
} 

 #Instagram_m 
{ 
	 left: 149px; 
	 top: 376px; 
	 position: absolute; 
	 width: 62px;
	 height: 14px;
	 z-index:14;
} 

 #BG_5_m 
{ 
	 left: 498px; 
	 top: 314px; 
	 position: absolute; 
	 width: 105px;
	 height: 37px;
	 z-index:15;
} 

 #Cancel_0_m 
{ 
	 left: 529px; 
	 top: 321px; 
	 position: absolute; 
	 width: 43px;
	 height: 12px;
	 z-index:16;
} 

 #BG_6_m 
{ 
	 left: 323px; 
	 top: 314px; 
	 position: absolute; 
	 width: 172px;
	 height: 37px;
	 z-index:17;
} 

 #AuthorizeAccess_0_m 
{ 
	 left: 354px; 
	 top: 320px; 
	 position: absolute; 
	 width: 111px;
	 height: 12px;
	 z-index:18;
} 

 #Rectangle1_m 
{ 
	 left: 99px; 
	 top: 314px; 
	 position: absolute; 
	 width: 38px;
	 height: 37px;
	 z-index:19;
} 

 #VectorSmartObject_m 
{ 
	 left: 105px; 
	 top: 322px; 
	 position: absolute; 
	 width: 26px;
	 height: 21px;
	 z-index:20;
} 

 #layer_21_m 
{ 
	 left: 69px; 
	 top: 319px; 
	 position: absolute; 
	 width: 17px;
	 height: 17px;
	 z-index:21;
} 

 #Twitter_m 
{ 
	 left: 149px; 
	 top: 321px; 
	 position: absolute; 
	 width: 44px;
	 height: 12px;
	 z-index:22;
} 

 #BG_7_m 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 674px;
	 height: 253px;
	 z-index:23;
} 

 #togetstartedaddyours_m 
{ 
	 left: 159px; 
	 top: 135px; 
	 position: absolute; 
	 width: 352px;
	 height: 39px;
	 z-index:24;
} 

 #ThanksforjoinWhatsDa_m 
{ 
	 left: 134px; 
	 top: 75px; 
	 position: absolute; 
	 width: 404px;
	 height: 31px;
	 z-index:25;
} 

 #BG_8_m 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 674px;
	 height: 591px;
	 z-index:26;
} 
