@charset utf-8;

/*body{font-family:Arial, Helvetica, sans-serif;font-size:12px;background:url(../images/logbg.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}*/

body{ background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/logbg.jpg) no-repeat fixed 100% 100%; 

      font-family:Arial, Helvetica, sans-serif;

      font-size:12px;width:100%;

      height:100%;



      background-size:cover;



}



.viewfrnd

{

    float: right;

    width: 100px;

    text-align: center;

    text-decoration: none;

    background: #ff780d;

    color:#fff;

    border: 1px solid #da6305;





}











.Form label.error {

    color:red;

}

#back-top {

    position: fixed;

    bottom: 30px;

    margin-left: -150px;

}



.friendd

{

    float: right;

    width: 100px;

    text-align: center;

    height: 20px;

    background: #333;

    padding-top: 5px;

    margin-top: 30px;

    margin-right: 5px;

    color:#fff;

    border:1px solid #555;



}



.ProfileCard {

    background: #292929;

    //border-color: #292929;

    //border-bottom: 1px solid #000;



    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222222));

    background-image: -webkit-linear-gradient(top, #3c3c3c, 0%, #222222, 100%);

    background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);

    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);

    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);





    //border: 1px solid #e1e8ed;

    border: 1px solid #ccc;

    border-radius: 5px;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

    text-align: left;

}

.ProfileCard a

{

    color: #0084b4;



}



.ProfileCard-bg {

    background-size: 100%;

    //border-bottom: 1px solid #e1e8ed;

    border-bottom: 1px solid #ccc;

    display: block;

    height: 95px;

    border-radius: 4px 4px 0 0;

    background-position: 0 50%;

}

.ProfileCard-content {

    margin: 13px 15px;

    position: relative;

}



.ProfileCard-avatarLink {

    //background-color: #fff;

    border-radius: 6px;

    display: inline-block;

    margin: -45px 2px 0 -3px;

    padding: 3px;

    //position: relative;

    vertical-align: bottom;

    z-index: 1;

}



.ProfileCard-avatarImage {

    border-radius: 5px;

    display: block;

    height: 70px;

    width: 70px;

}

.messagewrapmain

{

    overflow-y:hidden !important;

    overflow-x:hidden !important;

    height:375px;

}









.messagewrapmain:hover

{

    overflow-y: scroll !important;

}



.messagewrapmain::-webkit-scrollbar-track:hover

{

    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);

    border-radius: 10px;

    background: rgba(255,255,255,0.2);

}

.messagewrapmain::-webkit-scrollbar-track

{

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);

    border-radius: 10px;

    background: rgba(255,255,255,0);

}







.messagewrapmain::-webkit-scrollbar

{

    width: 9px;

    background-color: rgba(0,0,0,0.2);

}

.messagewrapmain::-webkit-scrollbar:hover

{

    width:12px;

}



.messagewrapmain::-webkit-scrollbar-thumb

{

    border-radius: 10px;

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

    background:rgba(255,255,255,0.5);

}



.messagewrapmain::-webkit-scrollbar-thumb:hover

{	

    border-radius: 10px;

    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);

    background:rgba(255,255,255,0.3);

}



















.notification

{

    height:300px;

    overflow-y:hidden !important;

    overflow-x:hidden !important;

    top:45px;

}







.notification:hover

{

    overflow-y: scroll !important;

}



.notification::-webkit-scrollbar-track:hover

{

    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);

    border-radius: 10px;

    background: rgba(255,255,255,0.2);

}

.notification::-webkit-scrollbar-track

{

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);

    border-radius: 10px;

    background: rgba(255,255,255,0);

}







.notification::-webkit-scrollbar

{

    width: 9px;

    background-color: #000;

}

.notification::-webkit-scrollbar:hover

{

    width:12px;

}



.notification::-webkit-scrollbar-thumb

{

    border-radius: 10px;

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

    background:rgba(255,255,255,0.5);

}



.notification::-webkit-scrollbar-thumb:hover

{	

    border-radius: 10px;

    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);

    background:rgba(255,255,255,0.3);

}







#back-top a {

    width: 108px;

    display: block;

    text-align: center;

    font: 11px/100% Arial, Helvetica, sans-serif;

    text-transform: uppercase;

    text-decoration: none;

    color: #bbb;

    /* background color transition */

    -webkit-transition: 1s;

    -moz-transition: 1s;

    transition: 1s;

}

#back-top a:hover {

    color: #000;

}

/* arrow icon (span tag) */

#back-top span {

    width: 108px;

    height: 108px;

    display: block;

    margin-bottom: 7px;

    background: #ddd url(file:///C|/Users/Pankaj/AppData/Local/Temp/fz3temp-1/up-arrow.png) no-repeat center center;

    /* rounded corners */

    -webkit-border-radius: 15px;

    -moz-border-radius: 15px;

    border-radius: 15px;

    /* background color transition */

    -webkit-transition: 1s;

    -moz-transition: 1s;

    transition: 1s;

}

#back-top a:hover span {

    background-color: #777;

}

.Form input.error {

    border:1px solid red;

}

.Form select.error {

    border:1px solid red;

}

.Form input[type=radio].error{

    outline: 1px solid red

}

.profile_header{

    float: right;

    font-size: 17px;

    width: 200px;

}

img#uploadPreview{

    border: 0;

    border-radius: 3px;

    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .27);

    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .27);

    margin-bottom: 30px;

    overflow: hidden;

    width:100%;

}

*focus{outline:none}

#topblack{background:#000;height:45px;position:fixed;top: 0;}

.whitebg{background:#ededed}

#logo{float:left;padding:8px 0 0}

.amember{color:#fff;float:right;padding:15px 7px 0 0}

.amember2{font-weight:700;background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/key.png) no-repeat 0 16px;color:#fff;float:right;padding:15px 0 0 20px}

a{text-decoration:none}

a:hover{color:#ff7e29}

.clear{clear:both}

.nomarg{margin:0!important}

.nomargT{margin-top:0!important}

.nomargR{margin-right:0!important}

.nomargB{margin-bottom:0!important}

.nomargL{margin-left:0!important}

.nopad{padding:0!important}

.nopadT{padding-top:0!important}

.nopadR{padding-right:0!important}

.nopadB{padding-bottom:0!important}

.nopadL{padding-left:0!important}

.nobg{background:none}

.nobord{border:none!important}

.nobordB{border-bottom:none!important}

.logleft{float:left;width:682px;padding:98px 0 0}

.logleft h1{background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/trans.png);font-size:15px;color:#fff;border-radius:3px;font-weight:700;margin:0 15px 8px 0;padding:4px 7px}

.logleft h2{background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/trans.png);font-size:15px;color:#fff;font-weight:700;border-radius:3px;margin:0;padding:3px 7px}

#sicons{float:left;background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/sicons.png) no-repeat;padding-right:1px;margin:15px 0}

#sicons li{float:left;margin-right:17px}

#sicons li a{width:29px;height:29px;float:left;text-indent:-1000em}

.orngtxt{background:#ff7e29;font-size:15px;color:#fff;clear:both;border-radius:3px;margin:0 0 8px;padding:4px 7px}

.orngmarg{margin-right:80px}

.signbgwrap{float:right;margin:0 0 0; width:100%;}

.signbg{background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/transgray.png);border-radius:8px;padding:0px 15px}

.signbgwrap h3{font-size:16px;color:#fff;font-weight:700;text-align:center;padding-bottom:10px}

.locinput{color:#959595;font-size:13px;width:111px;border-radius:3px;border:none;margin:10px 1px 0 0;padding:13px 10px}

.locinput2{color:#959595;font-size:13px;border-radius:3px;border:none;width:93%;margin:10px 0 0;padding:13px 10px}

.locinputsel{color:#959595;font-size:13px;border-radius:3px;border:none;width:100%;margin:10px 0 0;padding:13px 10px}

.signbgwrap h4{font-size:11px;color:#fff;font-weight:700;padding:6px 0 0}

.locinput3{color:#959595;font-size:13px;width:69px;border-radius:3px;border:none;margin:6px 1px 0 0;padding:10px 6px 10px 12px}

.gender{padding:10px 0 0}

.gender label{margin-right:4px;color:#fff}

.signbgwrap p{font-size:12px;color:#fff;margin:15px 0;padding:7px 0 0}

.btn_signup{background:#ff7e29;text-transform:uppercase;font-size:16px;color:#fff;width:270px;font-weight:700;border-radius:3px;border:none;margin-top:10px;cursor:pointer;padding:13px 0}

.logfoot{width:845px;clear:both;margin:0 auto;padding:0px 0 0px}

.fmenu li{font-size:11px;font-weight:700;color:#fff;float:left;padding:3px 5px 0}

.toimg{float:left;margin-right:40px}

.logfoot p{float:left;font-size:11px;font-weight:700;padding-top:5px;color:#fff}



.searchwrap{float:left;padding-top:8px}

.searchinput{float:left;background:#2d2c2c;width:220px;height:19px;border-radius:3px 0 0 0;border:none;color:#fff;padding:4px}

.homhicon{float:left;padding:14px 10px 0}

.smicons{float:left;padding:8px 3px 0}

.jessic{color:#fff;float:left;padding:12px 3px 0 7px}

.setting{padding:12px 35px ;z-index:200;}

.homlft{float:left;width:200px;padding:38px 12px 0 0}

.hommid{width:530px;float:left;padding-top:38px;}

.midwht{z-index:-1;}

.wdbg{background:#000 url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/bdivid.png) no-repeat right 0;border-radius:2px 0 0 0;color:#fff;font-weight:700;float:left;padding:6px 9px}

.wdbg2{background:#000;border-radius:0 2px 0 0;color:#fff;font-weight:700;float:left;padding:6px 11px}

.grybord{border:1px solid #e6e6e6;clear:both;width:508px;color:#aaa;font-size:14px;height:30px;padding:10px}

.twitbg{float:left;padding:0 0 0 10px}

.dgry{background:#d8d8d8;border-radius:0 0 0 3px;overflow:hidden;padding:0}

.postbutton{background:#78c7eb;border-radius:2px;float:right;border:0;text-transform:uppercase;color:#fff;text-align:center;font-size:10px;font-weight:700;width:70px;cursor:pointer;margin:6px 100px 0 0;padding:3px 10px}

.picon{border-right:1px solid #fff;float:left;padding:8px 10px}

.bluebg{







    background: -webkit-linear-gradient(#3b3b3b,#000000); /* For Safari 5.1 to 6.0 */

    background: -o-linear-gradient(#3b3b3b,#000000); /* For Opera 11.1 to 12.0 */

    background: -moz-linear-gradient(#3b3b3b,#000000); /* For Firefox 3.6 to 15 */

    background: linear-gradient(#3b3b3b,#000000); /* Standard syntax (must be last) */









    border-radius:6px 6px 0 0;color:#fff;font-weight:700;clear:both;font-size:14px;margin:20px 0 0;padding:6px 9px}

.tabgray{





    background:#fff;border:1px solid #ccc;border-radius:0 0 6px 6px;clear:both}

.homtit{float:left;border-right:1px solid #ccc;color:#5e5e5e;font-weight:700;min-height:36px;padding:8px 10px 0}

.postbg{background:#d8d8d8;border-radius:3px;clear:both;text-align:center;color:#fff;font-weight:700;margin-top:20px;padding:5px 0}

.peoplebx{float:left;margin:20px 0 0;padding:0 50px}

.peoplebx img{width:30px;height:30px;}

.jessicatxt{background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/pplusicon.png) no-repeat 0 2px;color:#5e5e5e;font-family:13px;padding:0 0 0 20px}

.peopwrap{float:left;padding:5px 0 20px}

.crispbx{





    border-top:1px solid #e4e4e4;overflow:hidden;clear:both;padding:px;}



.crispbxmain  

{

    background: #fff;



    padding:15px 0px;

}



.crispbx img

{

    float:left;

    margin-right:10px;







}







.crispcont{

    //box-shadow: 0px 0px 1px rgba(0,0,0,0.1);

    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.15);

    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.15);

    box-shadow: 0 0 4px rgba(0,0,0,0.15);

    border: 1px solid #e5e6e9;

    border-bottom:none !important;

    float:left;width:442px;

    padding:12px;

    background:#fff;

    margin-bottom:-2px;



}

.crispcont h2{color:#737373;font-weight:700;font-size:15px;margin:0px !important;}

.crispcont p{color:#5e5e5e;font-size:13px}

.likemenu li{font-size:12px;color:#000;float:left;font-weight:700;padding:8px 15px 0 0}

.likemenu li a{color:#ffa96e}

.upimgwrap{clear:both;padding:8px 0}

.upbigimg{padding:4px 0}



.commentmain

{

    background-image: -moz-linear-gradient(180deg, #000 0%, #333 58%, #333 100%);

    background-image: -webkit-linear-gradient(180deg, #000 0%, #333 58%, #333 100%);

    background-image: -ms-linear-gradient(180deg, #000 0%, #333 58%, #333 100%);





    //background-color: #f5f5f5;

    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.15);

    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.15);

    box-shadow: 0 0 4px rgba(0,0,0,0.15);

    padding: 4px;

    word-wrap: break-word;

    margin-left: 60px;

    //border: 1px solid #4d4d4d;

    border: 1px solid #ccc;

    width:458px;

    //box-shadow: 0px 0px 1px rgba(0,0,0,0.1);



}



.friendrightProfile1

{

    float:right;

}



.friendrightProfile1 h3 {

    clear: both;

    color: #000;

    font-size: 17px;

    font-weight: 700;

}



.friendright{float:left;width:222px;padding-left:20px;padding-top:0px}

.friendright h3{clear:both;color:#000;font-size:17px;font-weight:700}

.friendwrap{overflow:hidden;padding:2px 0 5px}

.friendwrap img{float:left;margin:8px 12px 0 0}

.frienddropwrap{float:left;width:268px;background:#3e3b3b;border-radius:0 0 6px 6px;position:absolute;top:51px;display:none}

.frienddropwrap h3

{

    font-size:12px;

    font-weight:700;

    color:#fff;

    background:#000;

    padding:6px 15px;

    margin-top:







}

.mfrienwrap{

    border-bottom:1px solid #333;



    background:#262829;height:40px;padding:7px 10px}

.dimg{float:left;

      margin:5px;

      width:40px;

      height:40px;







}

.settings li{border-bottom:2px solid #666;font-size:12px;font-weight:700;color:#fff;background:#000;text-align:center;padding:6px 15px;z-index:200;}

.settings{float:left;width:150px;background:#3e3b3b;position:absolute;top:45px;display:none;right:14%}

.settings li:hover{background:#3e3b3b;color:#fff;border-bottom:2px solid #999}

.subheading{color:#343f49;text-align:center;font-size:14px;padding:10px 0}

.forgotlinks{margin-top:10px}

.forgotlinks a{color:#fff;margin-right:10px;text-decoration:underline}

#largebluebtn{border-radius:3px;font-size:14px;color:#fff;text-align:center;background:#2e5b9b;margin-bottom:15px;padding:13px}

#largebluebtn span{font-weight:700;margin-left:5px}

#radiobtn{color:#fff;font-weight:700;margin:15px 0 5px}

#logincontainer,.topinner{ width:100%; float:left;}

.fmenu,.likemenu{float:left;margin:0 40px 0 0}

.topinner2,.midwht{width:1010px;margin:0 auto}

.peopwrap img,.upsmimg img{float:left;margin-right:4px}

.settings li a,.settings li a:hover{color:#fff;width:140px}

#whitearea{float:left;background:#fff}

.compose{margin-bottom:20px;border-radius:5px;background:#ff7f14;width:165px;height:40px}

.compose a{text-transform:uppercase;font-weight:700;font-size:14px;float:left;color:#fff;padding:12px 50px}

.inboxlft{float:left;width:220px;margin:38px 10px 0 25px}

.inboxmid{width:706px;float:left;margin-top:38px}

ul.mailcontent li{text-transform:capitalize;font-weight:700;font-size:14px;padding:5px 20px}

ul.mailcontent li a{color:#ededed}

ul.mailcontent li a.active{color:#ff7f14}

ul.mailservice li a{width:170px;height:37px;float:left;border-bottom:2px solid #fff;background:#ccc}

ul.mailcontent{margin-bottom:20px; z-index: 2000;}

ul.mailservice li img{border-right:1px solid #fff}

ul.mailservice li span{text-transform:capitalize;color:#fff;font-weight:700;margin-top:10px;font-size:15px;float:right;width:125px}

.message{font-size:12px;float:left;width:670px;border-bottom:1px dotted #ccc;padding:10px}

.messageheader

{



    width:100%;

    height:30px;

    border-top:1px solid #555;

    border-bottom:1px solid #555;



}



.messagefooter

{



    width:100%;

    height:26px;

    border-top:1px solid #555;

    background:#272727;

    border-radius:0 0 6px 6px;





}







.message .title{font-weight:700;padding:0 10px}

.unread{background:#f8f8f8}

#mailtitle{background:#e8e8e8;float:left;width:670px;padding:10px}

#mailtitle .subject,#mailcontent .subject{float:left;font-size:16px;width:70%;font-weight:700;padding:10px 0}

#mailtitle .receiveddate,#mailcontent .receiveddate{width:25%;float:left;padding:12px 0}

#mailtitle .content,#mailcontent .content{width:100%;float:left;line-height:2em;font-size:14px}

#mailcontent{border-bottom:1px solid #e8e8e8;float:left;width:670px;margin-top:15px;padding:10px;text-decoration:none;}

#mailreply{margin-top:20px;width:670px;float:left;border:1px solid #e8e8e8}

#mailreply .subject{border-bottom:1px solid #e8e8e8;padding:15px}

#mailreply select{background:none;border:none;padding:5px}

#mailreply .replymail{float:left;width:100%;border-bottom:1px solid #e8e8e8}

#mailreply .mailtext textarea{border:none;color:#999;float:left;width:100%;height:300px}

#mailreply .submit{width:100%;float:left;border-top:1px solid #e8e8e8;background:#e8e8e8;padding:10px 0}

input.mailid{border:1px solid #fff;height:45px;width:550px}

.orangebutton{text-transform:uppercase;font-weight:700;cursor:pointer;color:#fff;border-radius:5px;border:none;background:#ff7f14;margin-left:20px;width:100px;padding:10px}

span.maildel{float:right;margin-right:20px;padding-top:7px}

.submit .add,.submit .att{padding:10px}

#popup{width:550px;font-size:16px;margin:0 auto}

#popup .topband{background:#e8e8e8;border-top-right-radius:5px;border-top-left-radius:5px;height:55px}

#popup .bottomband{background:#e8e8e8;border-bottom-right-radius:5px;border-bottom-left-radius:5px;height:30px;padding:25px 0}

#popup .innerband input{border:0;padding-left:11px;border-bottom:1px solid #e8e8e8;height:60px;width:98%}

#popup .innerband textarea{border:0;color:#999;height:320px;width:100%}

#popup .google{float:left;padding:10px}

#popup .close{float:right;padding:10px}

#header_login{width:570px;float:right;margin:10px 0px 10px 10px;}

.header_loginleft{width:210px;float:left;margin-left:65px;}

.header_loginright{float:left;width:200px}

#login_username,#login_password{border:1px solid #3a518a;border-radius:4px 4px 4px 4px;-webkit-border-radius:3px;width:166px;padding:5px 8px}

.header_loginright span,.header_loginleft div{float:left;margin:10px 0}

.header_loginleft span{padding-left:10px}

#login_topblack{background:#000;height:70px;color:#fff;width:100%;}

#login_btn{border-radius:3px;background:0;border:1px solid #1d3871;background: #1d3871;-webkit-border-radius:3px;-webkit-box-shadow:0 1px 0 #6f85b3 inset, 0 1px 1px rgba(0,0,0,.18);color:#fff;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-transform:uppercase;font-weight:700;cursor:pointer;line-height:25px;height:25px;width:95px;padding:0}

#login_logo{float:left;padding:20px 0 0}

.thankyou{margin-top:102px;color:#fff;font-weight:700;font-size:14px;/*background:url(../images/transgray.png);*/border-radius:8px;text-align:center;padding:30px 15px}

.amember2 a,.fmenu li a,.header_loginright span a{color:#fff}

.signup2{margin-top:94px;color:#fff;font-weight:700;font-size:18px;background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/transgray.png);border-radius:8px;text-align:center;padding:30px 15px}

=======

@charset utf-8;

/*body{font-family:Arial, Helvetica, sans-serif;font-size:12px;background:url(../images/logbg.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}*/

body{ background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/logbg.jpg) no-repeat fixed 100% 100%; font-family:Arial, Helvetica, sans-serif; font-size:12px;width:100%;

      height:100%; }

.Form label.error {

    color:red;

}

.Form input.error {

    border:1px solid red;

}

.Form select.error {

    border:1px solid red;

}

.Form input[type=radio].error{

    outline: 1px solid red

}

.profile_header{

    float: right;

    font-size: 17px;

    width: 200px;

}

img#uploadPreview{

    border: 0;

    border-radius: 3px;

    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .27);

    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .27);

    margin-bottom: 30px;

    overflow: hidden;

    width:100%;

}

*focus{outline:none}

#topblack{background:#000;height:50px;width:100%;z-index:1;}

.whitebg{background:#ededed}

#logo{float:left;padding:8px 0 0}

.amember{color:#fff;float:right;padding:15px 7px 0 0}

.amember2{font-weight:700;background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/key.png) no-repeat 0 16px;color:#fff;float:right;padding:15px 0 0 20px}

a{text-decoration:none;}

a:hover{color:#ff7e29 ; text-decoration:none;}

.clear{clear:both}

.nomarg{margin:0!important}

.nomargT{margin-top:0!important}

.nomargR{margin-right:0!important}

.nomargB{margin-bottom:0!important}

.nomargL{margin-left:0!important}

.nopad{padding:0!important}

.nopadT{padding-top:0!important}

.nopadR{padding-right:0!important}

.nopadB{padding-bottom:0!important}

.nopadL{padding-left:0!important}

.nobg{

    margin:0;



    /*color: #fff !important;*/

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;

    font-size: 12px !important;

    line-height: 1.42857 !important;

}

.nobord{border:none!important}

.nobordB{border-bottom:none!important}

.logleft{float:left;width:682px;padding:98px 0 0}

.logleft h1{background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/trans.png);font-size:15px;color:#fff;border-radius:3px;font-weight:700;margin:0 15px 8px 0;padding:4px 7px}

.logleft h2{background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/trans.png);font-size:15px;color:#fff;font-weight:700;border-radius:3px;margin:0;padding:3px 7px}

#sicons{float:left;background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/sicons.png) no-repeat;padding-right:1px;margin:15px 0}

#sicons li{float:left;margin-right:17px}

#sicons li a{width:29px;height:29px;float:left;text-indent:-1000em}

.orngtxt{background:#ff7e29;font-size:15px;color:#fff;clear:both;border-radius:3px;margin:0 0 8px;padding:4px 7px}

.orngmarg{margin-right:80px}



.signbg{background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/transgray.png);border-radius:8px;padding:0px 15px}

.signbgwrap h3{font-size:16px;color:#fff;font-weight:700;text-align:center;padding-bottom:10px; margin-top:10px;}

.locinput{color:#959595;font-size:13px;width:111px;border-radius:3px;border:none;margin:10px 1px 0 0;padding:13px 10px}

.locinput2{color:#959595;font-size:13px;border-radius:3px;border:none;width:65%;margin:10px 0 0;padding:13px 10px}

.locinputsel{color:#959595;font-size:13px;border-radius:3px;border:none;width:100%;margin:10px 0 0;padding:13px 10px}

.signbgwrap h4{font-size:11px;color:#fff;font-weight:700;padding:6px 0 0}

.locinput3{color:#959595;font-size:13px;width:69px;border-radius:3px;border:none;margin:6px 1px 0 0;padding:10px 6px 10px 12px}

.gender{padding:10px 0 0}

.gender label{margin-right:4px;color:#fff}

.signbgwrap p{font-size:12px;color:#fff;margin:15px 0;padding:7px 0 0}

.btn_signup{ background: #ff7e29 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-top: 11px;
    padding: 12px 0;
    text-transform: uppercase;
    width: 174px;}

.logfoot{width:845px;clear:both;margin:0 auto;padding:0px 0 0px}

.fmenu li{font-size:11px;font-weight:700;color:#fff;float:left;padding:3px 5px 0}

.toimg{float:left;margin-right:40px}

.logfoot p{float:left;font-size:11px;font-weight:700;padding-top:5px;color:#fff}

.infomenu{float:left;background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/1infoicons.png) no-repeat;margin:11px 10px 0 60px}

.infomenu li{float:left;margin-right:28px}

.infomenu li a{color:#555 !important;width:21px;height:21px;float:left;font-size:24px;color:#555;}

.infomenu .second{margin-right:30px}

.infomenu .third a{width:31px border:none !important;}

.searchwrap{float:left;padding-top:8px}

.searchinput{float:left;background:#2d2c2c;width:220px;height:19px;border-radius:3px 0 0 0;border:none;color:#fff;padding:4px}

.homhicon{float:left;padding:14px 10px 0}

.smicons{float:left;padding:8px 3px 0}

.jessic{color:#fff;float:left;padding:12px 3px 0 7px}

.setting{padding:12px 35px; z-index:200;}

.wdbg{background:#000 url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/bdivid.png) no-repeat right 0;border-radius:2px 0 0 0;color:#fff;font-weight:700;float:left;padding:6px 9px}

.wdbg2{background:#000;border-radius:0 2px 0 0;color:#fff;font-weight:700;float:left;padding:6px 4px}

.grybord{border:1px solid #e6e6e6;clear:both;width:508px;color:#aaa;font-size:14px;height:30px;padding:10px}

.twitbg{float:left;padding:0 0 0 10px}

.dgry{background:#d8d8d8;border-radius:0 0 0 3px;overflow:hidden;padding:0}

.newbutton

{



    /*border-radius: 2px;

    -webkit-border-radius: 2px;

    -moz-border-radius: 2px;

    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

    background:#fff; */







    color: #515151 !important;

    text-shadow: -1px 1px 0px #fff;

    outline: 0;

    white-space: nowrap;

    word-wrap: normal;

    vertical-align: middle;

    cursor: pointer;

    background-color: #fff;

    background-image: -webkit-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);

    background-image: -moz-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);

    background-image: -o-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);

    background-image: -ms-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);

    background-image: linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );

    border: 1px solid #969696;

    -webkit-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);

    box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;









    float:right;



    text-transform:uppercase;

    //color:rgb(78,86,101);

    text-align:center;

    font-size:10px;

    font-weight:700;

    /*width:120px;*/

    cursor:pointer;

    margin:6px 10px 0 0;

    padding:8px 10px



}





.newbutton:hover{background:#f5f5f5; color:rgb(78,86,101);}

.postbutton{background:#78c7eb;border-radius:2px;float:right;border:0;text-transform:uppercase;color:#fff;text-align:center;font-size:10px;font-weight:700;width:70px;cursor:pointer;margin:6px 100px 0 0;padding:3px 10px}

.picon{border-right:1px solid #fff;float:left;padding:8px 10px}

.bluebg{





    background: -webkit-linear-gradient(#3b3b3b,#000000); /* For Safari 5.1 to 6.0 */

    background: -o-linear-gradient(#3b3b3b,#000000); /* For Opera 11.1 to 12.0 */

    background: -moz-linear-gradient(#3b3b3b,#000000); /* For Firefox 3.6 to 15 */

    background: linear-gradient(#3b3b3b,#000000); /* Standard syntax (must be last) */









    border-radius:6px 6px 0 0;color:#fff;font-weight:700;clear:both;font-size:14px;margin:20px 0 0;padding:6px 9px}

.tabgray{

    background:#fff;border:1px solid #ccc;







    border-radius:0 0 6px 6px;clear:both}

.homtit{float:left;border-right:1px solid #ccc;color:#5e5e5e;font-weight:700;min-height:36px;padding:8px 10px 0}

.postbg{background:#d8d8d8;border-radius:3px;clear:both;text-align:center;color:#fff;font-weight:700;margin-top:20px;padding:5px 0}

.peoplebx{float:left;margin:20px 0 0;padding:0 50px}

.jessicatxt{background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/pplusicon.png) no-repeat 0 2px;color:#5e5e5e;font-family:13px;padding:0 0 0 20px}

.peopwrap{float:left;padding:5px 0 20px}

.crispbx{







    overflow:hidden;clear:both;padding:px;margin-top:10px;







}

.crispbx img{float:left;margin-right:10px;



             border:none !important;

}

.crispcont{float:left;width:442px;

           padding:12px;







}

.crispcont h2{color:#737373;font-weight:700;font-size:15px}

.crispcont p{color:#5e5e5e;font-size:13px}

.likemenu li{font-size:12px;color:#000;float:left;font-weight:700;padding:8px 15px 0 0}

.likemenu li a{color:#ffa96e}

.upimgwrap{clear:both;padding:8px 0}



.upbigimg

{

    padding:4px 0;







}

.friendright{float:left;width:222px;padding-left:20px;margin-top:20px}

.friendright h3{clear:both;color:#000;font-size:17px;font-weight:700}

.friendwrap{overflow:hidden;padding:2px 0 5px}

.friendwrap img{float:left;margin:8px 12px 0 0}





.frienddropwrap

{

    float:left;

    width:430px;

    background:#000;

    border-radius:0 0 6px 6px;

    position:absolute;

    top:51px;

    display:none

}   











.frienddropwrap h3{font-size:12px;font-weight:700;color:#fff;background:#000;border-radius:0 0 6px 6px;padding:6px 15px}

.mfrienwrap{background:#262829;height:40px;padding:7px 10px}

.dimg{float:left;margin-right:6px}

.namtitwrap{float:left;width:340px;color:#fff;margin-right:6px}

.namtitwrap h4{margin-top:3px;

               font-size:14px;font-weight:700;margin:2px;}

.namtitwrap p{font-size:12px;line-height:12px;padding:2px 0;margin-top:0px;color:#ccc;}

.confirmbutton

{

    top:20px;

    background-image: -webkit-linear-gradient(top, #ff7518 0%, #e45c00 100%);

    background-image: linear-gradient(to bottom, #ff7518 0%, #e45c00 100%);

    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7518', endColorstr='#ffe45c00', GradientType=0);

    border-color: #da5800;

    border-radius:3px;

    float:right;

    border:0;

    color:#fff;

    text-align:center;

    font-size:10px;

    font-weight:700;

    width:60px;

    cursor:pointer;

    margin:15px 7px 0 0;

    padding:6px 12px

}





.ignorebutton

{



    background-color: #e6e6e6;

    background-repeat: no-repeat;

    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),color-stop(25%,#fff),to(#e6e6e6));

    background-image: -webkit-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: -moz-linear-gradient(top,#fff,#fff 25%,#e6e6e6);

    background-image: -ms-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: -o-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: linear-gradient(#fff,#fff 25%,#e6e6e6);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);



    //background:#9e9c9c;

    border-radius:3px;

    float:right;

    border:0;

    color:#354552;

    text-align:center;

    font-size:10px;

    font-weight:700;

    width:60px;

    cursor:pointer;

    margin:15px 0 0;

    padding:6px 12px

}









.frienddropwrap h5{font-size:12px;font-weight:700;color:#fff;background:#000;text-align:center;border-radius:0 0 6px 6px;padding:6px 15px}

.settings li{border-bottom:2px solid #666;font-size:12px;font-weight:700;color:#fff;background:#000;text-align:center;padding:6px 15px}

.settings{float:left;width:150px;background:#3e3b3b;position:absolute;top:45px;display:none;right:14%}

.settings li:hover{background:#3e3b3b;color:#fff;border-bottom:2px solid #999}

.subheading{color:#343f49;text-align:center;font-size:14px;padding:10px 0}

.forgotlinks{margin-top:10px}

.forgotlinks a{color:#fff;margin-right:10px;text-decoration:underline}

#largebluebtn{border-radius:3px;font-size:14px;color:#fff;text-align:center;background:#2e5b9b;margin-bottom:15px;padding:13px}

#largebluebtn span{font-weight:700;margin-left:5px}

#radiobtn{color:#fff;font-weight:700;margin:15px 0 5px}



.fmenu,.likemenu{float:left;margin:0 40px 0 0}

.topinner2.midwht{margin:0 auto}

.midwht{padding-top:37px;}

.peopwrap img,.upsmimg img{float:left;margin-right:4px}

.settings li a,.settings li a:hover{color:#fff;width:140px}

#whitearea{float:left;background:#fff}

.compose{margin-bottom:20px;border-radius:5px;background:#ff7f14;width:165px;height:40px}

.compose a{text-transform:uppercase;font-weight:700;font-size:14px;float:left;color:#fff;padding:12px 50px}

.inboxlft{float:left;width:220px;margin:38px 10px 0 25px}

.inboxmid{width:706px;float:left;margin-top:38px}

ul.mailcontent li{text-transform:capitalize;font-weight:700;font-size:14px;padding:5px 20px}

ul.mailcontent li a{color:#ededed}

ul.mailcontent li a.active{color:#ff7f14}

ul.mailservice li a{width:170px;height:37px;float:left;border-bottom:2px solid #fff;background:#ccc}

ul.mailcontent{margin-bottom:20px}

ul.mailservice li img{border-right:1px solid #fff}

ul.mailservice li span{text-transform:capitalize;color:#fff;font-weight:700;margin-top:10px;font-size:15px;float:right;width:125px}

.message{font-size:12px;float:left;width:670px;border-bottom:1px dotted #ccc;padding:10px}

.message .title{font-weight:700;padding:0 10px}

.unread{background:#f8f8f8}

#mailtitle{background:#e8e8e8;float:left;width:670px;padding:10px}

#mailtitle .subject,#mailcontent .subject{float:left;font-size:16px;width:70%;font-weight:700;padding:10px 0}

#mailtitle .receiveddate,#mailcontent .receiveddate{width:25%;float:left;padding:12px 0}

#mailtitle .content,#mailcontent .content{width:100%;float:left;line-height:2em;font-size:14px}

#mailcontent{border-bottom:1px solid #e8e8e8;float:left;width:670px;margin-top:15px;padding:10px}

#mailreply{margin-top:20px;width:670px;float:left;border:1px solid #e8e8e8}

#mailreply .subject{border-bottom:1px solid #e8e8e8;padding:15px}

#mailreply select{background:none;border:none;padding:5px}

#mailreply .replymail{float:left;width:100%;border-bottom:1px solid #e8e8e8}

#mailreply .mailtext textarea{border:none;color:#999;float:left;width:100%;height:300px}

#mailreply .submit{width:100%;float:left;border-top:1px solid #e8e8e8;background:#e8e8e8;padding:10px 0}

input.mailid{border:1px solid #fff;height:45px;width:550px}

.orangebutton{text-transform:uppercase;font-weight:700;cursor:pointer;color:#fff;border-radius:5px;border:none;background:#ff7f14;margin-left:20px;width:100px;padding:10px}

span.maildel{float:right;margin-right:20px;padding-top:7px}

.submit .add,.submit .att{padding:10px}

#popup{width:550px;font-size:16px;margin:0 auto}

#popup .topband{background:#e8e8e8;border-top-right-radius:5px;border-top-left-radius:5px;height:55px}

#popup .bottomband{background:#e8e8e8;border-bottom-right-radius:5px;border-bottom-left-radius:5px;height:30px;padding:25px 0}

#popup .innerband input{border:0;padding-left:11px;border-bottom:1px solid #e8e8e8;height:60px;width:98%}

#popup .innerband textarea{border:0;color:#999;height:320px;width:100%}

#popup .google{float:left;padding:10px}

#popup .close{float:right;padding:10px}

#header_login{width:570px;float:right;margin:10px 0px 10px 10px;}

.header_loginleft{width:210px;float:left;margin-left:65px;}

.header_loginright{float:left;width:200px}

#login_username,#login_password{border:0px solid #3a518a;border-radius:4px 4px 4px 4px;-webkit-border-radius:3px;width:166px;padding:6px 8px}

.header_loginright span,.header_loginleft div{float:left;margin:10px 0}

.header_loginleft span{padding-left:10px}

#login_topblack{background:#000;height:70px;color:#fff;width:100%;}

#login_btn{border-radius:3px;background:0;border:0px solid #1d3871;background: #f63;-webkit-border-radius:3px;-webkit-box-shadow:0 1px 0 #6f85b3 inset, 0 1px 1px rgba(0,0,0,.18);color:#fff;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-transform:uppercase;font-weight:700;cursor:pointer;line-height:25px;height:32px;width:95px;padding:0}

#login_logo{float:left;padding:20px 0 0}

.thankyou{margin-top:102px;color:black;font-weight:700;font-size:14px;background-color:white;/*background:url(../images/transgray.png);*/border-radius:8px;text-align:center;padding:30px 15px}

.amember2 a,.fmenu li a,.header_loginright span a{color:#fff}

.signup2{margin-top:94px;color:#fff;font-weight:700;font-size:18px;background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/transgray.png);border-radius:8px;text-align:center;padding:30px 15px}

#fullWidthContainer

{



    color: #fff;

    font-weight: 700;

    font-size: 18px;

    background: url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/transgray.png);

    border-radius: 8px;

    text-align: center;

    padding: 30px 15px;

    margin: 20px;

    text-align: left;

}



.profilelinks

{

    margin-top:20px;



    //margin-top:-200px;



}



#tabs a

{

    color: #fff;

    /* font-size:20px;*/

    margin-bottom:10px;

    border:0;

    outline: 0;

}



.ui-tabs-active a

{

    text-shadow: 2px 2px 7px  #000,-2px -2px 7px  #000,2px -2px 7px  #000,-2px 2px 7px  #000;



}

.banner_band {height: 35px;background: #ccc;width:1009px}

.banner_band h2 {padding-top: 7px;padding-left: 220px;font-weight: bold;font-size: 20px;color:#000 !important;}

.profilelinks .mailcontent li{

    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#414141), to(#323232));

    background-image: -webkit-linear-gradient(top, #414141, 0%, #323232, 100%);

    background-image: -moz-linear-gradient(top, #414141 0%, #323232 100%);

    background-image: linear-gradient(to bottom, #414141 0%, #323232 100%);

    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff414141', endColorstr='#ff323232', GradientType=0);

    border-bottom: 1px solid #000;

    color: #fff;

    text-transform:capitalize;font-weight:700;font-size:14px;padding:10px 20px;

    font-weight:bold;









}

.profilelinks .mailcontent li a{

    font-size:12px !important;

    color:#000;



}

.profilelinks .mailcontent li a.active{color:#ff7f14}

.profilelinks .mailservice li a{width:170px;height:37px;float:left;border-bottom:2px solid #fff;background:#ccc}

.profilelinks .mailcontent{margin-bottom:20px}

.prfiledetails {width: 500px;float: left;margin-bottom: 10px;}

.prfiledetails .ptabs {float: left;background:#d4d4d4;width: 100px;margin-right: 15px;padding:7px 15px;font-size:14px;font-weight:bold;color:#fff;border-radius:3px;}

.prfiledetails .yellow{background:#ff8014;}



.prfdet

{

    font-size:14px;

    padding-top: 0px;

    margin-left:45px;

    margin-top:-25px;

    display: table-cell;

    border: 1px solid #d3d6db;

    border-top:none !important;

    width:550px;

}



.prfdet span {font-weight:bold}

.profilecontent {float: left;padding-top: 20px;}

.marginT {margin-top: 10px;}

ul.mailcontent li:hover, ul.mailcontent li:active  {



    background: #45b5dd;

    color:#333 !important;



}







/*12-december-2013*/

.editHover{

    background-color: #E8F3FF;

}



.editBox{

    width: 326px;

    min-height: 20px;

    padding: 10px 15px;

    background-color: #fff;

    border: 2px solid #E8F3FF;

}









.btnSave, .btnCancel{

    padding: 6px 30px 6px 75px;

}



.block{

    float: left;

    margin: 20px 0;

}



/*7-December-2013*/

.profileinfo { background: #f2f2f2; width: 100%; padding: 4px 10px; border-left: 1px solid #b3b3b3; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; }

.profileinfo h2 { position: relative; left: -250px; }



.gear { position: relative; display: block; margin-bottom: 25px; padding-bottom: 15px; border-bottom: 1px solid #d9d9d9; width:338px;height:20px}



.gear a.editlink { position: absolute; right: 0; top: 13px; }



.datainfo { margin-left: 10px; font-size: 11px; color: #333; }



/** @group form inputs **/

.hlite { background: #e2e8f6; border: 1px solid #bdc7d8; width: 250px; margin-left: -7px; padding: 4px 7px; color: #565656; font-size: 12px; }



/** @group buttons **/

.savebtn { position: absolute; right: 0; top: 13px; padding: 4px 9px; background: #5972a8; font-size: 1.2em; cursor: pointer; border: 1px solid #1a356e; color: #fff; -webkit-box-shadow: inset 0 1px 0 #8a9cc2; -moz-box-shadow: inset 0 1px 0 #8a9cc2; box-shadow: inset 0 1px 0 #8a9cc2; margin-bottom: 5px; margin-top: -5px; display: none;

}

.savebtn:hover { color: #fff; background: #607db7; text-decoration: none; }

.savebtn:active { background: #556790; }



/*profile*/

#w {

    display: block;

    width: 580px;

    margin: 0 auto;

    background: none;

    margin-left: -5px;

    margin-top:-15px;

}



.detailsheading

{



    background: #f6f7f8;

    border-bottom: 1px solid #d3d6db;

    -webkit-border-radius: 2px 2px 0 0;

    margin-bottom: 15px;

    min-height: 20px;

    padding: 10px;

    color:#333;

    font-size:14px;

}



#content {

    display: block;

    background: #fff;

    padding: 0px 15px;

    margin-left: 80px;

    /*  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.4);

      -moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.4);

      box-shadow: 1px 2px 1px rgba(0,0,0,0.4);*/

    min-height: 200px;

}





.contentblock {

    display: block;

    padding: 9px 6px;

    width:495px;

}



.contentblock.hidden {

    display: none;

}



/* side navigation */

#sidemenu {

    padding: 0px;

    width: 140px;

    float: left;

    background: #e8e8e8;

    border-right: 0px solid #c9c9c9;

    margin-right:5px;

    margin-top:10px;



}





#sidemenu li { display: block; text-align: left; border-top: 1px solid #fff; font-size: 1.1em; }



#sidemenu li a {

    display: block;

    //    color: #9197a3!important;

    text-decoration: none;

    //padding-left:5px;



    width:115px;

    font-size:12px !important;



    background-color: #e6e6e6;

    background-repeat: no-repeat;

    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),color-stop(25%,#fff),to(#e6e6e6));

    background-image: -webkit-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: -moz-linear-gradient(top,#fff,#fff 25%,#e6e6e6);

    background-image: -ms-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: -o-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: linear-gradient(#fff,#fff 25%,#e6e6e6);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);



    border-color: #da5800;

    border-radius:3px;

    border:0;

    color:#333 !important;

    text-align:center;

    //font-size:10px;

    font-weight:700;

    cursor:pointer;

    //margin:15px 7px 0 0;

    padding:6px 12px;

    border:1px solid #cfcfcf !important;

}

#sidemenu li a:hover {

    //    background: #FF7E2A;

}



#sidemenu li a strong {

    display: block;

    margin-top: 5px;

}



#sidemenu li a.open {

    //    width: 96%;

    // border-left: 3px solid #3b5998;

    border-right: 5px solid #ff0000 !important;

    //    color:#333 !important;



    /* background-image: -webkit-linear-gradient(top, #ff7518 0%, #e45c00 100%);

    background-image: linear-gradient(to bottom, #ff7518 0%, #e45c00 100%);

    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7518', endColorstr='#ffe45c00', GradientType=0);

    border-color: #da5800;

    border-radius:3px;

    border:0;

    color:#fff !important;

    text-align:center;

    //font-size:10px;

    font-weight:700;

    cursor:pointer;

    margin:px 7px 0 0;

    padding:6px 12px; */







}



/* extra styles */

.bigtxtfield {

    display: block;

    width: 350px;

    color: #555;

    padding: 4px 6px;

    margin-bottom: 15px;

}



.bigtxtarea {

    display: block;

    width: 440px;

    height: 90px;

    padding: 5px 9px;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    color: #555;

    font-size: 1.2em;

}



.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.clearfix { display: inline-block; }



html[xmlns] .clearfix { display: block; }

* html .clearfix { height: 1%; }



.frienddropwrap{float:left;width:430px;background:#000;border-radius:0 0 6px 6px;position:absolute;top:51px;display:none;

                /*added by marcel*/

                z-index: 2000;}

.frienddropwrap h3{font-size:12px;font-weight:700;color:#fff;background:#000;border-radius:0 0 6px 6px;padding:6px 15px}

.mfrienwrap{



    background:#262829;

    width: 410px;

    height:50px;

    padding:7px 10px ;

}





.friednamewrap{float:left;width:210px;color:#fff;margin-right:6px}

.namtitwrap{float:left;width:340px;color:#fff;margin-right:6px}

.namtitwrap h4{font-size:14px;font-weight:700;

               margin-top:3px;

}

.namtitwrap p{font-size:12px;line-height:12px;padding:2px 0}

.confirmbutton{

    background-image: -webkit-linear-gradient(top, #ff7518 0%, #e45c00 100%);

    background-image: linear-gradient(to bottom, #ff7518 0%, #e45c00 100%);

    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7518', endColorstr='#ffe45c00', GradientType=0);

    border-color: #da5800;

    border-radius:3px;



    float:left;border:0;color:#fff;text-align:center;font-size:10px;font-weight:700;width:60px;cursor:pointer;margin:15px 4px 0 0px;padding:6px 12px;



    top:20px

}

.ignorebutton

{



    background-color: #e6e6e6;

    background-repeat: no-repeat;

    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),color-stop(25%,#fff),to(#e6e6e6));

    background-image: -webkit-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: -moz-linear-gradient(top,#fff,#fff 25%,#e6e6e6);

    background-image: -ms-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: -o-linear-gradient(#fff,#fff 25%,#e6e6e6);

    background-image: linear-gradient(#fff,#fff 25%,#e6e6e6);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);



    //background:#9e9c9c;

    border-radius:3px;



    float: outside;border:0;color:#354552;text-align:center;font-size:10px;font-weight:700;width:60px;cursor:pointer;

    margin:15px 0 0;

    padding:6px 12px;









}

.frienddropwrap h5{font-size:12px;font-weight:700; width: 290px;color:#fff;background:#000;text-align:center;border-radius:0 0 6px 6px;padding:6px 15px}

.infomenu .notify { float:left; }

.notify{ float:left; position: relative; top:-10px; font-weight: bold; font-family: lucida grande; color: white; background-color:  red; border-color: red; border-radius: 2px 2px 2px 2px;}

.notification { border-radius: 0 0 6px 6px; display:none; 



                position: absolute;







                color: #fff; background:#000;  padding:6px 15px; text-align:center; width: 432px;

                // z-index: 2000;







}

.notificationwrap{ background:#262829; float:left; width:430px; //color:#fff; margin-right:2px; padding: 2px 0 0 2px;border-bottom:1px solid #333;}

.notificationwrap h3{ font-size:12px; font-weight:bold; color:#fff; background:#000;  padding:6px 15px;}

.notification h5{font-size:12px;font-weight:700; width: 300px;color:#fff;background:#000;text-align:center; padding:6px 15px}

.notification .readAll{font-size:12px;font-weight:700; width: 300px;color:#fff;background:#000; border-radius: 0 0 6px 6px; text-align:center; padding:6px 15px; cursor: pointer;}

.message_num{  padding:14px 3px 0 0px;  color:#fff; float:left;  position: relative; left: -10px;}





.messages{

    float:left;

    width:430px;

    height:435px;

    background:#000;

    border-radius: 0 0 6px 6px;

    position:absolute; top:50px;

    display:none;

    z-index: 2000;

    border:1px solid #272727;

}









.messageswrap:hover

{

    background:#555;

}

.messages .sender{ width: 20px; height: 20px;}

.messageswrap{ background:#000; float:left; width:430px; color:#fff;  border-bottom:1px solid #333; }

.messageswrap h3{ font-size:12px; font-weight:bold; color:#fff; background:#000;  padding:6px 15px;}

.friendimg{ height: 72px; height: 72px; border-radius: 3px  3px  3px 3px; border-color: white;}

.friendrequestimg{ height: 50px; width:  50px; float:left;margin-right:6px}

.friends_request{ z-index: 2000; width: 430px;

                  background:#000;border-radius:6px;

}

.friends_num{    color:red; float:left; position: relative; left: -10px; top:-10px; font-weight: bold; font-family: lucida grande; color: white; background-color:  red; border-color: red; border-radius: 2px 2px 2px 2px;  text-align: center;}

/*added by marcel*/





/*.wrapper {

    border:1px solid #000;

    display:inline-block;

}



input,

button {

    background-color:transparent;

    border:0;

}*/

.tweet-reply input[type="button"] {margin-top: 5px;

                                   font-weight: bold;

                                   //color: #999;

                                   padding: 2px 10px;

                                   font-size:12px;

                                   //background: #ddd;

                                   margin-bottom:5px;



}

.what

{

    font-family:Arial, Helvetica, sans-serif;font-size:1.30em; padding-left:10px;

}



.tcontent

{

    padding-left:10px; background-color:#fff; border-bottom:dashed #0066CC 1px;

}

.results .loading  { position: relative; left: 150px; text-align: center; height: 20px; width: 20px;}

.results { border-radius: 0 0 6px 6px; display:none; position: absolute; top: 45px; color: #fff; background:#000;  padding:6px 15px; text-align:center; width: 320px; z-index: 2000; }

.results li {  width: 320px;  height: 45px;}

.results li:hover {background-color: #d8d8d8;}

.results a { color: #fff;   }

.results img { width: 40px; height: 40px; float: left; }



div.profile_pic{

    position:relative;

    width:185px !important;

    border: 5px solid #f5f5f5;

    border-radius: 12px;

    box-shadow: 0 1px 1px rgba(136,153,166,0.15);

}





div.change_button{

    position:absolute;

    bottom:0px;

    left:0px;

    display:none;

    background-color:black;

    font-family: 'tahoma';

    font-size:11px;

    text-decoration:underline;

    color:white;

    width:200px;

}

div.change_button_text{

    padding:10px;

    text-align: center;

}

#spinner{

    position:absolute;

}



/*Twitter new design */

#TwrapperArea {width: 987px; margin: 0 auto; background: #ffffff; padding-top: 36px; min-height:2000px;display: table;}

#TleftColmn {width: 200px; padding-right: 12px; float: left; background: #ffffff;}

#ful_content{height:100%}

.TwtrPostWall textarea { resize:none; color:#959595; }

.TwtrPostWall {float:left; width:95.7%}

#TcontentColmn {width: 513px; float: left; padding-left: 10px; margin-left:10px; background: #ffffff;}

.UploadIMage-n-post {height:32px; background:#d5d5d5; clear:both; margin-top:-5px; border-radius:0px 0px 5px 5px; -moz-border-radius:0px 0px 5px 5px; -webkit-border-radius:0px 0px 5px 5px; -o-border-radius:0px 0px 5px 5px;}

.ImageUploadIcon {border-right: 1px solid #FFFFFF;

                  line-height: 31px;

                  padding: 0 10px;

                  vertical-align: middle;

                  width: 45px;

                  float:left;}



.btn-primaryX {background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/post-btn.png) no-repeat;

               width:94px; height:20px; border:none; color:#ffffff; font-weight:bold; font-family:Arial; float:right; margin:6px 6px 0px 0px; font-size:10px;}

.twt-wall-tw-info-title {



    background:url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/twt-wall-tw-info-title-bg.png) repeat-x;

    height:65px;

    border-radius:3px;

    -moz-border-radius:3px;

    -webkit-border-radius:3px;

    -o-border-radius:3px;

    margin-top:13px;



    border-left:1px solid #d8d8d8;

    border-right:1px solid #d8d8d8;

}

.TwtLogo {

    padding-top:7px;

    padding-left:7px;

    outline:none;}

.HomeTwBtn {

    //    background:url(../images/tw-info-home.png) no-repeat;

    height:37px;

    //    margin-top:9px;

    margin-top:2px;

    width:58px;

    float:left;

    padding:12px 0px 0px 20px;

    color:#8c9ca9;

    font-size: 10.5px;

    letter-spacing: .02em;

    text-transform: uppercase;

    transition: color .15s ease-in-out;

    font-weight:bold;

    //    font-size:10px;

}

.HomeTwBtn a {

    text-decoration:none;

    color:#8c9ca9 !important;}



.TweetsQntty {

    //    border-right: 2px solid #D8D8D8;

    float: left;

    font-size: 11px;

    font-weight: bold;

    height: 28px;

    margin: 15px 0 0 5px;

    padding-right: 5px;

    font-family:Verdana, Geneva, sans-serif;



    text-align:center;}

.TweetsQntty a {

    color:#8c9ca9 !important;

    font-size: 9px;

    letter-spacing: .02em;

    text-transform: uppercase;

    transition: color .15s ease-in-out;

    font-weight:bold;

    float:left;

    text-align:left;

    width:80px;













}

.TweetsQntty .TextColor, .Favorites, .Mentions, .UserTimeline{

    color:#5e5e5e;

    text-transform:uppercase;

    font-size: 8px;}



.MEssageBox {

    float:left;

    margin:13px 0px 0px 5px;}



.FollwingBtnClk {

    float:left;

    margin-top:12px;



    margin-left:4px;

    height:28px;

    width:94px;

}

.WhiteboardGrey {

    background: #d8d8d8;

    color: #FFFFFF;

    font-size: 14px;

    font-weight: bold;

    height: 27px; 

    margin-top: 12px;

    padding: 5px 0 0 0px;

    border-radius:4px;

    -moz-border-radius:4px;

    -webkit-border-radius:4px;

    -o-border-radius:4px;

    text-align:center;

}

.tweet-reply tr td textarea:focus{

    width:488px;



    border-color: #66AFE9;color: #66AFE9;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);

    outline: 0 none;

    height:80px;

    transition: background .2s linear;

}

.tweet-reply tr td textarea {

    height:30px;

    max-height:100px;

    margin: 0;

    width:488px;

    margin-left:7px;

    outline: 0;

    background-color: #fff;

    border: 1px solid #e1e8ed;

    border-radius: 3px;

    margin-top:5px;

    color: #66AFE9;





}

.WhiteboardGrey a {color: #FFFFFF!important;}

.UserProFileImgInner {width:11%; float:left;}

.media-forward {

    border-radius: 5px;

    display: block;

    margin: 0;

    max-height: 219px;

    overflow: hidden;

    padding: 0;

    position: relative;

}

.wd_wrong{

    color:black;

    text-align:left;

}

.wd_wrong td{

    padding-left: 148px;

    padding-top: 74px;

}

.log_error{

    background-color: #ffebe8;
    border: 1px solid #dd3c10;
    color: #333;
    line-height: 1.5;
    padding-left: 10px;
    text-align: left;
    width: 100%;
	margin-bottom: 15px;

}

.request-retweeted-popup {font-size:13px;	}

.err_msg{

    font-size:11px;

    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;

    font-weight:200;

}

.vasplusfile_adds{ font-weight:bold; font-size:12px;font-family:Arial, Helvetica, sans-serif;text-align:center;background: url('file:///C|/Users/Pankaj/AppData/Local/Temp/images/camera-image-uplaod.png') no-repeat 12px 9px;color:green;border-right:1px solid #fff;height:32px;cursor: default;width:45px;float:left;}

.one-wall-entry

{

    background: url(file:///C|/Users/Pankaj/AppData/Local/Temp/images/transgray.png);

    border-radius: 8px;

    text-align: left;

    padding: 30px 15px;

    margin:20px;

    color: #ccc;

    text-shadow: 2px 2px 4px #000,-2px -2px 4px #000,2px -2px 4px #000,-2px 2px 4px #000;

}



.one-wall-entry .link_container

{

    padding:20px;

    border: 1px solid #ccc;

    border-radius:10px;

    margin:10px;

}



.one-wall-entry .link_container img

{

    width:100px;

    float:left;

    margin: 0 10px 10px 0;

}



.one-wall-entry .link_container a

{

    color: #fff ;

    font-weight:bold;

}



.clear

{

    clear:both;

}



#picture

{

    display:none;

    padding: 10px;

    background: #d8d8d8;

}



.add-comment

{

    /*display: none;*/

}



.add-comment

{

    padding: 10px 0px;

    color:#444;

}



.add-comment textarea

{

    width:97%;

    padding:0%;

    height:30px;

    border: 2px solid #f5f5f5;

    line-height:1.9em;

    color:#000;

}





#basicinfo

{

    color:#444444;

}

.comment-content

{

    color:#333333;



}

.comment-content p

{

    float:left;

    word-break: break-all;

    width: 90%;

}

.comment-content p.1

{

    margin-top:-15px;



}



.comment-content h2

{

    margin:0px;

    font-size:14px;

    color:#ffa96e;

    font-weight:bold;

    float:left;



}

.postbutton-comments

{

    float: right;

    margin-right: 10px;

    margin-top: 0px;

    position: relative;

    border: none;

    background: none;

    color: #999;

    font-weight: bold;

    cursor: pointer;

}



.comment-block

{

    margin: 10px 0;

    padding: 5px;

    border-bottom:1px solid #4d4d4d;

}



.lazyLoader

{

    position:relative;

    top: -50px;

    left: 240px;

}



#wall-iframe

{

    width:100%;

    border:0;

    overflow:hidden;

}

#notification_popup{



    border:solid black 1px;

    display:none;

    height:120px;

    width:225px;

    background:grey;

    position:fixed;

    bottom:50px;

}

#notification_popup .notificationwrap

{

    width:180px;height:80px;background-color:gray;opacity:0.7;

    font-weight:bold; font-size:large;

}

#uni25Link{



    float: left;

    width: 200px;

    height: 100px;

    margin: 15px 15px 0px 0px;

    background-size: cover;

}

.coverphoto, .output {

    border: 0 solid black;

    height: 310px;

    margin: -1px auto;

    width: 1009px;

}

.p_textarea{

    border: 1px solid red;

    border-radius:2px;

    height: 40px;

    width: 230px;



}

.textboxs {



    -webkit-border-radius: 10px;

    -moz-border-radius: 10px;

    border-radius: 0px;

    outline:0;

    height:19px;

    width:100%;

    padding-left:-3px;

    padding-right:-1px;



    border: 1px solid red;





}

.proedits{

    border: 0;

    outline: none;

    width: 100%;

    word-break: break-word;



}

.ba_info {

    //border-collapse:separate;

    border-spacing:16px 11px;

    width: 430px;

    margin:5px;

}

.button {

    /*border:1px solid #7eb9d0;

    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

    border-radius: 3px;

    font-size:12px;

    font-family:arial, helvetica, sans-serif;

    padding: 6px 6px 6px 6px;

    text-decoration:none;

    display:inline-block;

    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);

    font-weight:bold;

    color: #FFFFFF;

    background-color: #a7cfdf;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));

    background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);

    background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);

    background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);

    background-image: -o-linear-gradient(top, #a7cfdf, #23538a);

    background-image: linear-gradient(to bottom, #a7cfdf, #23538a);

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);*/

    -webkit-font-smoothing: antialiased;

    display: inline-block;

    vertical-align: middle;

    zoom: 1;

    padding: 6px;

    font-weight: 400;

    font-size: 14px;

    color: #fff !important;

    text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;

    border: 0px;

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.88) 0px 1px 3px -1px;

    background-color: #4589E3;

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5da4ff), color-stop(100%, #417bff));

    background: -webkit-linear-gradient(#5da4ff, #417bff);

    background: -moz-linear-gradient(#5da4ff, #417bff);

    background: -o-linear-gradient(#5da4ff, #417bff);

    background: linear-gradient(#5da4ff, #417bff);

    -webkit-transition: all 0.2s linear;

    -moz-transition: all 0.2s linear;

    -ms-transition: all 0.2s linear;

    -o-transition: all 0.2s linear;

    transition: all 0.2s linear;

    float:right;

    margin-right: 5px;





}

.button:hover {

    border-top-color: #28597a;

    background: #28597a;

    color: #ccc;

}

.dropdown {

    // -webkit-appearance: none;

    // -moz-appearance: none;

    padding: 2px 30px 2px 2px;

    border: 1px solid #d3d6db !important;

    -moz-appearance: none;

    text-indent: 0.01px;

    text-overflow: '';

    width:100%;





}

.homlftIG{float: left;

          width: 200px;

          padding: 38px 12px 0 0;}

.hommidIG{width:530px;float:left;padding-top:57px;}


.forget_outer{ float:left; width:100%;}
.top_logo_main{ float:left; width:100%; padding-bottom:10px; background:#000;}
.email_box_main{ float:left; width:100%;}
.email_box_ttp{ 






    margin: 4% auto auto;


    width: 50%; }
	.email_box_down{ float:left; width:100%;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */

  background:rgba(0, 0, 0, 0.7);





     border-radius: 5px;
    box-shadow: 0 0 3px #7f7f7f;
    margin: 4% auto auto;
    min-height: 210px;
    padding: 10px; margin-bottom:4%;}
	.email_box_ttp h1{ float:left; width:100%; font-size:18px; color:#fff; text-align:center; margin-top:10px;}
	.email_box_ttp h2{ float:left; width:100%; font-size:18px; color:#fff; text-align:center; margin-top:0px;}
	.landing_footer a{ font-family:Arial, Helvetica, sans-serif!important;  }
	
	
	
	
	
	
	#AuthForm_log{ text-align:center;}
	.login_text{ float:left; margin-right:10px; margin-top:32px; color:#fff;}
	.user_img{  float: left;
    margin-left: 6px;
    margin-right: 10px;
    width: 15%;}
	.user_name{ float:left; text-align:left; margin-top:22px; color:#fff;}    
	.user_name p{ margin:0px;}
	.password_text{ float:left; width:100%; margin-top:20px;}
	.user_img img{ width:100%; height:auto;} 
	.input_box_mian{ float:left; margin-right:10px;}
	.button_logon{ float:left;}
	.login_text1{ float:left; margin-right:10px; margin-top:6px; color:#fff;}
	
	@media only screen and (max-width: 980px) {
	.email_box_ttp{ width:80%;} 
	}
	@media only screen and (max-width: 328px) {
		.email_box_ttp{ width:100%;} 
		#logo{ text-align:center; width:100%;}
	.locinput2{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    color: #fff;
    width: 100%; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;} 
		.btn_signup{ width:100%;}
		
		
		.user_img{   margin-left: 0;
    width: 20%;}
		.login_text{ margin-top:10px; display:none;}
		.user_name{   font-size: 16px;
    margin-top: 10px;}
		#login_username, #login_password{ width:100%;}
		.login_text1{ display:none;}
		.button_logon {
    float: right;
    
    margin-top: 15px; width:100%;
}
.input_box_mian {
    float: left;
    margin-right: 10px;
    width: 100%;
}
.email_box_ttp{ margin:0px;}
.email_box_down{ margin:0px; box-shadow: 0 0 0 #7f7f7f; border-radius: 0;}
.pad_main{ padding-left:0px!important; padding-right:0px!important; }
	.email_box_ttp h1{ font-size:16px;}
	.email_box_ttp h2{ font-size:16px;}
	#login_username, #login_password{padding: 11px 8px;  border: 1px solid #666666;
    color: #fff;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; background:none;}
	#login_btn{ width:100%; height:45px;}
	.amember{ float:left;}
	.terms_main{ display:block!important;  }
	.terms .form1{ display:none;}
	
	}
	@media only screen and (max-width: 320px) {
	.email_box_ttp{ width:100%;} 
	#logo{ text-align:center; width:100%;}
	.locinput2{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    color: #fff;
    width: 100%; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
	.btn_signup{ width:100%;}
	
	
	.user_img{   margin-left: 0;
    width: 20%;}
		.login_text{ margin-top:10px; display:none;}
		.user_name{   font-size: 16px;
    margin-top: 10px;}
		#login_username, #login_password{ width:100%;}
		.login_text1{ display:none;}
		.button_logon {
    float: right;
    
    margin-top: 15px; width:100%;
}
.input_box_mian {
    float: left;
    margin-right: 10px;
    width: 100%;
}
	.email_box_ttp{ margin:0px;}
	.email_box_down{ margin:0px; box-shadow: 0 0 0 #7f7f7f; border-radius: 0;}
	.pad_main{ padding-left:0px!important; padding-right:0px!important;
	}
		.email_box_ttp h1{ font-size:16px;}
		.email_box_ttp h2{ font-size:16px;}
			#login_username, #login_password{padding: 11px 8px;  border: 1px solid #666666;
    color: #fff;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; background:none;}
#login_btn{ width:100%; height:45px;}
.amember{ float:left;}
	.terms_main{ display:block!important;  }
	.terms .form1{ display:none;}
	}
	@media only screen and (max-width: 375px) {
	.email_box_ttp{ width:100%;} 
	#logo{ text-align:center; width:100%;}
.locinput2{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    color: #fff;
    width: 100%; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
	.btn_signup{ width:100%;}
	
	
	
	
	.user_img{ width:13%;}
		.login_text{ margin-top:10px; display:none;}
		.user_name{   font-size: 16px;
    margin-top: 10px;}
		#login_username, #login_password{ width:100%;}
		.login_text1{ display:none;}
		.button_logon {
    float: right;
    
    margin-top: 15px; width:100%;
}
.input_box_mian {
    float: left;
    margin-right: 10px;
    width: 100%;
}
.email_box_ttp{ margin:0px;}
.email_box_down{ margin:0px; box-shadow: 0 0 0 #7f7f7f; border-radius: 0;}
.pad_main{ padding-left:0px!important; padding-right:0px!important;

	}
		.email_box_ttp h1{ font-size:16px;}
		.email_box_ttp h2{ font-size:16px;}
			#login_username, #login_password{padding: 11px 8px;  border: 1px solid #666666;
    color: #fff;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; background:none;}
#login_btn{ width:100%; height:45px;}
.amember{ float:left;}
	.terms_main{ display:block!important;  }
	.terms .form1{ display:none;}
	}
	@media only screen and (max-width: 384px) {
	.email_box_ttp{ width:100%;} 
	#logo{ text-align:center; width:100%;}
.locinput2{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    color: #fff;
    width: 100%; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
	.btn_signup{ width:100%;}
	
	
	
	.user_img{   margin-left: 0;
    width: 20%;}
		.login_text{ margin-top:10px; display:none;}
		.user_name{   font-size: 16px;
    margin-top: 10px;}
		#login_username, #login_password{ width:100%;}
		.login_text1{ display:none;}
		.button_logon {
    float: right;
    
    margin-top: 15px; width:100%;
}
.input_box_mian {
    float: left;
    margin-right: 10px;
    width: 100%;
}

.email_box_ttp{ margin:0px;}
.email_box_down{ margin:0px; box-shadow: 0 0 0 #7f7f7f; border-radius: 0;}
.pad_main{ padding-left:0px!important; padding-right:0px!important;
	}
		.email_box_ttp h1{ font-size:16px;}
		.email_box_ttp h2{ font-size:16px;}
			#login_username, #login_password{padding: 11px 8px;  border: 1px solid #666666;
    color: #fff;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; background:none;}
#login_btn{ width:100%; height:45px;}
.amember{ float:left;}
	.terms_main{ display:block!important;  }
	.terms .form1{ display:none;}
	}
	@media only screen and (max-width: 414px) {
	.email_box_ttp{ width:100%;} 
	#logo{ text-align:center; width:100%;}
	.locinput2{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    color: #fff;
    width: 100%; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
	.btn_signup{ width:100%;}
	
	
	
	.user_img{   margin-left: 0;
    width: 20%;}
		.login_text{ margin-top:10px; display:none;}
		.user_name{   font-size: 16px;
    margin-top: 10px;}
		#login_username, #login_password{ width:100%;}
		.login_text1{ display:none;}
		.button_logon {
    float: right;
    
    margin-top: 15px; width:100%;
}
.input_box_mian {
    float: left;
    margin-right: 10px;
    width: 100%;
}
.email_box_ttp{ margin:0px;}
.email_box_down{ margin:0px; box-shadow: 0 0 0 #7f7f7f; border-radius: 0;}
.pad_main{ padding-left:0px!important; padding-right:0px!important;
	}
		.email_box_ttp h1{ font-size:16px;}
		.email_box_ttp h2{ font-size:16px;}
			#login_username, #login_password{padding: 11px 8px;  border: 1px solid #666666;
    color: #fff;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; background:none;}
#login_btn{ width:100%; height:45px;}
.amember{ float:left;}
	.terms_main{ display:block!important;  }
	.terms .form1{ display:none;}
	}
	@media only screen and (max-width: 480px) {
	.email_box_ttp{ width:100%;} 
	#logo{ text-align:center; width:100%;} 
	.locinput2{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    color: #fff;
    width: 100%; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
	.btn_signup{ width:100%;}
	
	
	
	.user_img{   margin-left: 0;
    width: 20%;}
		.login_text{ margin-top:10px; display:none;}
		.user_name{    font-size: 16px;
    margin-top: 10px;}
		#login_username, #login_password{ width:100%;}
		.login_text1{ display:none;}
		.button_logon {
    float: right;
    
    margin-top: 15px; width:100%;
}
.input_box_mian {
    float: left;
    margin-right: 10px;
    width: 100%;
}
.email_box_ttp{ margin:0px;}
.email_box_down{ margin:0px; box-shadow: 0 0 0 #7f7f7f; border-radius: 0;}
.pad_main{ padding-left:0px!important; padding-right:0px!important;
	}
		.email_box_ttp h1{ font-size:16px;}
		.email_box_ttp h2{ font-size:16px;}
			#login_username, #login_password{padding: 11px 8px;  border: 1px solid #666666;
    color: #fff;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; background:none;}
#login_btn{ width:100%; height:45px;}
.amember{ float:left;}
	.terms_main{ display:block!important;  }  
	.terms .form1{ display:none;}
	}
	.user_name .err_msg{ font-size:14px; font-weight:bold;}  