.outer{ float:left; width:100%;}
.top_br{ 
float:left; width:100%; 
background: #f7f7f7;
background: -moz-linear-gradient(top,  #f7f7f7 0%, #ebebeb 100%);
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ebebeb 100%);
background: linear-gradient(to bottom,  #f7f7f7 0%,#ebebeb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ebebeb',GradientType=0 );
border-bottom:1px solid #b8b8b8;  
padding:0px 2% 10px;
}
.main_top{ float:left; width:24%;}
.main_top span{ float:left; margin-top:19px; font-weight:bold; font-size:14px;}
.right_button{ float:right;}
.add_more{
background: #eaeaea;
background: -moz-linear-gradient(top,  #eaeaea 0%, #d4d4d4 100%);
background: -webkit-linear-gradient(top,  #eaeaea 0%,#d4d4d4 100%);
background: linear-gradient(to bottom,  #eaeaea 0%,#d4d4d4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d4d4d4',GradientType=0 );
border:1px solid #d7d7d7; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; font-size: 14px;
line-height: 15px;
margin-top: 10px;
padding: 6px 15px 11px;
}

.date{
background: #424242;
background: -moz-linear-gradient(top,  #424242 0%, #1e1e1e 100%);
background: -webkit-linear-gradient(top,  #424242 0%,#1e1e1e 100%);
background: linear-gradient(to bottom,  #424242 0%,#1e1e1e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#1e1e1e',GradientType=0 );
border:1px solid #ff8500; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; 
font-size: 14px;
line-height: 15px;
margin: 10px 24px 0 0;
padding: 6px 15px 11px; 
color:#fff;
}
	
.home_pagecontact {
float: left;
width:100%;
}
.left_side_br{ 
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: #f3f3f3 none repeat scroll 0 0;
border-color: -moz-use-text-color #bcbcbc #bcbcbc;
border-image: none;
border-style: none solid solid;
border-width: medium 1px 1px;
float: left;
height: auto;

padding: 20px;
width: 23%; 
}
.left_side_br textarea{ width:100%; float:left; border:1px solid #b8b8b8; height:80px;}
.map_icon{  
background: #fff none repeat scroll 0 0;
border: 1px solid #b8b8b8;
color: #949494;
float: left;
font-size: 14px;
margin-top: 10px;
padding: 10px;
width: 94%;
}
.map_icon img{ float:left; margin-right:10px;}
.left_side_br p {
margin-top: 10px;
float: left;
width: 100%;
margin-bottom: 5px;
}
.left_side_br span{ color:#949494; float:left; width:100%;}
.left_side_br ul{ float:left; width:100%; list-style:none; padding-left:0px; margin:0px;}
.left_side_br ul li{ float:left;  background:#fff; border:1px solid #b8b8b8; padding:10px;}
.first{ width:61%;}
.last{ width:39%;}
.bootam_button {
float: left;
width: 100%;
margin-top: 10px;
border-top: 1px solid #dedede;
}
span.ttl-options {
float: left;
width: 100%;
margin-top: 6px;
}
.ttl-options p {
display: inline-block;
width: auto;
margin: 2px 10px 0px 0px;
vertical-align: middle;
}
.ttl-options input {
display: inline-block;
vertical-align: middle;
}
.add_more1{
background: #eaeaea;
background: -moz-linear-gradient(top,  #eaeaea 0%, #d4d4d4 100%);
background: -webkit-linear-gradient(top,  #eaeaea 0%,#d4d4d4 100%);
background: linear-gradient(to bottom,  #eaeaea 0%,#d4d4d4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d4d4d4',GradientType=0 ); 
border:1px solid #d7d7d7; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; 
font-size: 14px;
line-height: 15px;
margin-top: 10px;
padding:7px 0 11px 1px; 
width:42%;
}

.add_more1 .erth{ float:left; margin-top:1px; }
.add_more1 img{ float:right; margin:5px 0 0 0;}
.date1{
background: #424242;
background: -moz-linear-gradient(top,  #424242 0%, #1e1e1e 100%);
background: -webkit-linear-gradient(top,  #424242 0%,#1e1e1e 100%);
background: linear-gradient(to bottom,  #424242 0%,#1e1e1e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#1e1e1e',GradientType=0 );
border:1px solid #ff8500; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; font-size: 14px;
line-height: 15px;
margin-top: 10px;
padding: 6px 15px 11px; 
color:#fff; 
width:45%; 
margin-left:20px;}
.right {
  margin: 22px 0 0 15px;
  width: 75.8%;
  float:left;
  height:100%;
  overflow-y:scroll;
}
.click {
  background: #f3f3f3 none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  float: left;
  min-height: 200px;
  width: 100%;
}
.click button{ 
background: #eaeaea;
background: -moz-linear-gradient(top,  #eaeaea 0%, #d4d4d4 100%); 
background: -webkit-linear-gradient(top,  #eaeaea 0%,#d4d4d4 100%);
background: linear-gradient(to bottom,  #eaeaea 0%,#d4d4d4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d4d4d4',GradientType=0 ); 
border:1px solid #d7d7d7; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
 border:1px solid #d7d7d7; 
 border-radius:3px; 
 text-align:center; 
 margin:10px 0 10px 0px; 
 padding:10px 15px; 
 font-size:14px; 
 color:#2c2c2c; 
 }
.click img{ border-bottom:1px solid #d7d7d7; border-top:1px solid #d7d7d7; width:100%; margin-bottom:15px;}
.click input{ font-size:14px;  color:#b6b6b6; background:#fff; padding:10px 0 15px 10px; margin:0px;border-top:1px solid #d7d7d7; width:100%; border-left:none;}
.uplode{
margin-top: 0;
text-align: center;}
.uplode a{ color:#1e1e1e;}
.uplode a:hover{ text-decoration:none;}
span.cancel a{ color:#1c4ecc;}
.bar {
    padding: 0px 0px;
    border: 1px solid #bfb5b5;
    width: 85%;
    margin: 5px;
    position: absolute;
    left: 10px;
    z-index: 999;
    bottom: 23%;
    background-color: #eee;
    border-radius: 30px;
    overflow: hidden;
}
.complete_bar {
    padding: 0px 0px;
    border: 1px solid #bfb5b5;
    width: 11%;
    margin: 5px;
	margin-left:189px;
    /* position: absolute; */
    left: 26px;
	float:left;
    z-index: 999;
	margin-top:0.5%;
    bottom: 13%;
    background-color: #eee;
    border-radius: 30px;
    overflow: hidden;
}
.bar1 {background: #337ab7;height: 10px; width: 0;padding: 0px 3px;color: #fff;}
.complete_bar1 {background: #337ab7;height: 10px; width: 0;padding: 0px 3px;color: #fff;}

.uplode span{ font-size:14px; color:#1c4ecc;}
.add{ border:1px dotted #d4d4d4; padding-bottom:15px; text-align:center; min-height: 200px; float:left; width:100%;}
.add p a{ color:#cbcbcb; font-size:18px;}
.add p a:hover{ text-decoration:none;}
.add1{ margin:0px 0px;}
.add_more img{ margin-right:4px;}
.add img{ width:100%;}
.click a{ float:left; width:100%; text-align:center;}


div.fileinputs {
    position: relative;
}
.fileinputs {
  background-image: url("../images/add.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 69px auto;
  padding: 59px 0;
}
div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

input.file {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}

.col-sm-4.uplod {
    margin-bottom: 10px;
    padding: 0 5px;
    position: relative;
    width: 235px;
    height: 220px;
    background-color: #eee;
    margin: 0 4px 46px 0;
	float:left;
}
.col-sm-2.uplodMan {
    margin-bottom: 10px;
    padding: 0 0px;
    position: relative;
    margin: 0 4px 46px 0;
	cursor:pointer;
}

form.frmMyImage {
    height: 100%;
    width: 100%;
}

.image-preview {
    overflow: hidden;
    vertical-align: middle;
	height: 177px;
}
.addMoreStyle{
	height: 263px;
	width:94.5%;
}


.addMoreStyle img{
	height: 263px;
}

.image-preview img {
    filter: blur(5px);
    -webkit-filter:blur(5px);
    -moz-filter:blur(5px);
    min-height: 85px;
    width: 100%;
}

.remove-img i {
    position: absolute;
    z-index: 9;
    right: 5px;
    background-color: #eee;
    padding: 5px 5px;
    color: #f00;
    font-size: 15px;
    top:0;
}

.remove-img {
    position: relative;
}
.addMoreBtn{
	float:right !important;
}
.LinkGallery{
	cursor:pointer !important;
}

