 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 100%;
	 height: 48px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 496px;
	 height: 55px;
	 z-index:1;
} 

 #Layer2 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 496px;
	 height: 142px;
	 z-index:2;
} 

 #Whatsgoingon 
{ 
	 left: 13px; 
	 top: 59px; 
	 position: absolute; 
	 width: 90px;
	 height: 13px;
	 z-index:3;
} 

 #Rectangle1 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 101%;
	 height: 37px;
	 z-index:4;
} 

 #Rectangle1_0 
{ 
	 left: 1px; 
	 top: 1px; 
	 position: absolute; 
	 width: 100%;
	 height: 32px;
	 z-index:5;
} 

 #BG 
{ 
	 left: 534px; 
	 top: 4px; 
	 position: absolute; 
	 width: 30px;
	 height: 38px;
	 z-index:6;
	 cursor:pointer;
	 border-left:2px solid #444444;
} 

 #Rectangle1_1 
{ 
	 left: 543px; 
	 top: 11px; 
	 position: absolute; 
	 width: 28px;
	 height: 3px;
	 z-index:7;
	 cursor:pointer;
} 

 #Rectangle1_2 
{ 
	 left: 554px; 
	 top: 10px; 
	 position: absolute; 
	 width: 4px;
	 height: 23px;
	 z-index:8;
	 cursor:pointer;
} 

 #Layer4 
{ 
	 left: 175px; 
	 top: 11px; 
	 position: absolute; 
	 width: 24px;
	 height: 22px;
	 z-index:9;
} 

 #wwwbusinesswhatsdadi 
{ 
	 left: 208px; 
	 top: 13px; 
	 position: absolute; 
	 width: 148px;
	 height: 11px;
	 z-index:10;
} 
