

a img {
    border: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    width: 100%;
}

/****header****/
header {
    background: #000;
    width: 100%;
    display: inline-block;
    padding: 0px 0px;
}

/****section****/
section {
/ / width: 42 %;
    margin: 0px auto;
}

/****top_icon start here ****/
.top_icon {
    width: 100%;
    display: inline-block;
    margin: 5px 0px 0px 30px;
}

.top_icon ul {
    outline: none;
}

.top_icon ul li {
    list-style: none;
    float: left;
}

.top_icon ul li a {
    float: left;
    padding: 0px 5px 0px 5px;
}

/***outer_search*****/
.outer_search {
    width: 50%;
    display: inline-block;
    margin: 5px 0px 0px 0px;
}

.search_fl {
    background: #2d2c2c !important;
    display: inline-block;
    padding: 0px 0px 0px 10px;
    width: 204px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.top_right {
    float: right;
    margin: 5px 0px 0px 0px;
}

.top_right ul {
    outline: none;
}

.top_right ul li {
    float: left;
    padding: 0px 5px 0px 5px;
}

.top_right ul li a {
    float: left;
    color: #fff;
}

.fancybox-wrap {
    left: 20px !important;
    opacity: 1 !important;
}

/****center_area****/
.center_area {
    width: 100%;
    background: #fff;
    /* margin: 5px auto; */
    /* border-radius: 5px; */
    border: 1px solid #eaeff3;
    padding: 10px;
}

.tweet-reply td {
    padding: 3px !important;
}

.twtimage {
    margin-top: 10px;
}

.tweet-pic {
    width: 10%;
    float: left;
}

.tweet-content {
    width: 87%;
    margin: 0px 0px 0px 70px;
    font-size: 16px;
}

.tweet-content span {
    color: #aab7c2;
}

.tweet-counts {
    width: 87%;
    margin: 0px 0px 0px 70px;
}

/*.tweet-retweeters {
    width: 88%;
    float: right;
    padding: 2px;
    margin-top: 10px;
}*/

.tweet-reply {
    width: 100%;
}

.tweet-reply img {
    width: 32px;
    float: left;
    /* margin-left: 30px; */
    margin-top: 2px;
}

.tweet-reply table {
    width: 92%;
    /* float: right; */
}

.tweet-reply textarea {
    border: 1px solid rgb(167, 227, 249);
}

.tweet-reply-way {
    padding: 5px;
    float: left;
    border: 1px solid #a5d3ef;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    color: rgb(77, 181, 218);;
}

.tweet-reply-way:hover {
    box-shadow: 0px 0px 2px;
}

/*.tweet-reply-way i {
    font-size: 20px;
}*/

.tweet-retweeters {
    width: 100%;
    float: left;
    padding: 2px;
    margin-top: 10px;
}

.tweet-stats-container {
    width: 100%;
    float: left;
    border: 1px solid #dedede;
    padding: 5px;
    border-left: none;
    border-right: none;
    padding-left: 0;
}

.tweet-stats-container .stats {
    width: 100%;
    float: left;
    margin-bottom: 0;
}

.tweet-stats-container .stats img {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-right: 5px;
    border-radius: 5px;
}

.js-stat-count {
    width: 16%;
    float: left;
    padding-right: 5px;
    margin-right: 10px;
    border-right: 1px solid #dedede;
    text-align: center;
}

.js-stat-count a {
    color: black !important;
}

/****tweet_outer****/
.tweet_outer {
    width: 100%;
    /* margin: 10px 0px 0px 0; */
    display: inline-block;
    /*text-align: center;*/
    border-radius: 10px;
    /* text-align: right; */
    /* margin-left: 15px; */
}

.mid2wallimg {
    border-radius:0px; 
    margin: 0.167%;
    border:1px solid #ccc !important;
}

/*.tweet_outer img{ width:90%;}*/
/****like_area****/
.like_area {
    width: 78%;
    display: inline-block;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 0px 0px;
    margin: 10px 0px 0px 91px;
}

.left_like {
    float: left;
    border-right: 1px solid #efefef;
    width: 38%;
}

.left_like ul {
    outline: none;
}

.left_like ul li {
    float: left;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #efefef;
}

.left_like ul li a {
    float: left;
    font-size: 10px;
    color: #b9c4cc;
    text-transform: uppercase;
}

.left_like ul li span {
    float: left;
    color: #0283b3;
    font-size: 12px;
    font-weight: bold;
}

.thumb_wrp {
    float: left;
    margin: 6px 0px 0px 20px;
}

.thumb_wrp ul {
    outline: none;
}

.thumb_wrp ul li {
    list-style: none;
    float: left;
    padding: 0px 2px 0px 2px;
}

.thumb_wrp ul li a {
    float: left;
}

.thumb_wrp ul li a img {
    width: 23px;
    height: 23px;
}

.detail_area {
    width: 100%;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.detail_area img {
    width: 32px;
}

.detail_area h1 {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #aab7c2;
    margin-top: 0;
}

.detail_area ul {
    outline: none;
}

.detail_area ul li {
    list-style: none;
    float: left;
    /*padding: 10px 30px 0px 30px;*/
    padding: 0px 30px 0px 0px;
}

.detail_area ul li a {
    float: left;
}

.comment_outer {
    background: #e6f2f7;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
    margin: 10px 0px 0px 0px;
    border: 1px solid #bfe0ec;
}

.comment_outer img {
    float: left;
    margin: 5px 0px 0px 15px;
}

.in_ne {
    display: inline-block !important;
    margin: 0px 0px 0px 10px;
    width: 85% !important;
    border: 1px solid #bfe0ec !important
}

.txt {
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: #4499bd;
    margin: -5px 0px 0px 0px;
}

.twrapperArea {
    width: 50%;
}

.twt-wall-tw-info-title {
    background: #fff;
    border-radius: 0px;
    height: 80px;
    border: 1px solid #ccc;
}

.tweet-rt {
    padding: 9px 24px;
    background-color: rgb(77, 181, 218);;
    color: white;
}

.tweet-rt:hover {
    background-color: #0084B4;
    color: white;
}

.TwtLogo {
    background: rgb(77, 181, 218);
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    /* box-shadow: 0 1px 1px -1px; */
}

.twCount {
    font-size: 18px;
    font-weight: bold;
}

.FollowingQntty {
    width: 12.6%;
    float: left;
    height: 38px;
    color: #333;
    padding: 3px;
    border-right: 1px solid #aeaeae;
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
}

.TweetsQntty1 {
    width: 12.6%;
    float: left;
    height: 38px;
    color: #333;
    padding: 3px;
    border-right: 1px solid #aeaeae;
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
}

.FollowerQntty {
    width: 12.6%;
    float: left;
    height: 38px;
    color: #333;
    padding: 3px;
    border-right: 1px solid #aeaeae;
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
}

.Favorites {
    width: 12.6%;
    float: left;
    height: 38px;
    color: #333;
    padding: 3px;
    border-right: 1px solid #aeaeae;
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
}

.Mentions {
    width: 12.6%;
    float: left;
    height: 38px;
    color: #333;
    padding: 3px;
    margin-top: 4px;
    text-align: center;
    border-right: 1px solid #aeaeae;
}

.HomeTwBtn {
    width: 13.6%;
    float: left;
    height: 47px;
    color: white;
    padding: 12px;
    vertical-align: middle;
    /* margin-top: 8px; */
    border-right: 1px solid gray;
    background-color: rgb(101, 101, 101);
    font-weight: bold;
}

.HomeTwBtn a {
    color: white !important;
}

.msgBtn {
    width: 22.6%;
    float: left;
    height: 38px;
    color: #333;
    padding: 3px;
    margin-top: 4px;
    text-align: center;
}

.envelope {
    padding: 5px;
    /*padding-top: 44px;*/
    margin-top: 10px;
}

.envelope i {
    font-size: 18px;
}

.twt-wall-tw-info-title a {
    color: #0F0D0D;
    /* font-weight: bold; */
}