.left-tabs .nav-tabs>li {float:none;
border-bottom: 2px solid #333;
}
.left-tabs .nav-tabs {border-bottom:0px;
/* border: 2px solid #ff852a; */
}
.left-tabs .nav-tabs>li>a {margin-right: 0;line-height: 30px;border: 0px;border-radius: 0px;background: linear-gradient(#000,#000,#000,#000);color: #fff;border-bottom: 1px solid #ff852a;font-size: 12pt;}
body{font-family: 'Roboto', sans-serif;}
.left-tabs .nav-tabs>li.active>a, .left-tabs .nav-tabs>li.active>a:focus, .left-tabs .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background: #ff852a;
    border: 0px;
    border-bottom-color: transparent;
}
.select_box{width:100%;}
.select_loc{width:33%;}
.button-div .save-but:hover{
   background-position: inherit;
}
.chosen-container{margin-left:auto !important;width: 100% !important;}

.choosen_dev{width:100%;padding-left:53%;}

.chosen-container-single .chosen-single{padding:1px 0 0 14px !important; height:28px !important;}

.user-info{margin-top : -7px !important;}
.left-tabs{float:left;}
.right-tab{float:left;width: 72%;height:211px;position: relative;/* border-left: 1px solid #ddd; */}
.right-tab-modal{float:left;width: 72%;height:211px;position: relative;/* border-left: 1px solid #ddd; */}

.right-tab .basic-info{padding: 20px 0px 0px 20px;}
.right-tab-modal .basic-info{padding: 20px 0px 0px 20px;}

.basic-info p{
    font-size: 10pt;
    color: #2d2c2c;
    margin: 0px 0px 15px 0px;
    font-weight: 600;
    }
	body .user-edit-info input{margin: 0px 0px 0px 0px;background:url("../images/number.png") no-repeat;background-position: right 6px;border: 0px;}
	.dob{width: 47%;
    display: inline-block;}
	
	.closeBtn{ margin-left:3px;margin-top:2px;}
	
	body .dob input{
    margin: 0px 0px 0px 5px;
    width: 30%;
    }
	.rel{width: 47%;}
	.rel input{width:100%;}
	.basic-info .fa {
    font-size: 15pt;
    color: #777777;
	width: 20px;
    text-align: center;
	vertical-align: top;
}

.about-section textarea{width:100%!important;height: 166px!important;padding: 20px;}
.basic-info label {
    margin: 0px 0px 0px 17px;
    font-weight: lighter;
    color: #777777;
	width: 29%;
	vertical-align: top;
}
.change-modal .right-tab {border-left: 1px solid #ddd;}
.change-modal.right-tab-modal{border-left: 1px solid #ddd;}
.write, .edit{width:40px;height:40px;position: absolute;border-radius: 4px;color: #fff;font-size: 30px;cursor:pointer;}
.edit{background: #ff852a;top: 5px;right: 0px;box-shadow: -1px 11px 18px -3px #ff852a;}
.write{background: #000;bottom:0px;top:100x;right:0px;box-shadow: -1px 11px 18px -3px #2d2c2c;}
.basic-info h1{font-size: 12pt;margin: 0px 0px 30px;color:#333;}
.about-section p{color:#323131;    line-height: 25px;}
.basic-info span{
    display: inline-block;
    line-height: 25px;
    }
	.button-div{margin: 10px 10px 10px 0px;}
	.change-modal{display: inline-block;width: 100%;}
	.change-modal .modal-body{display: inline-block;width: 100%;padding:0px;border-bottom: 1px solid #ddd;}
	.education{margin-top: 40px;}
	.dot{
    vertical-align: top;
    width: 14%;
    text-align: center;
    }
	.next{
    text-align: center;
    font-size: 14px;
    color: #1d7ff0;
    padding: 15px 0px 0px 50px;}
	.next .fa{font-size: 14px;
    vertical-align: baseline;
    color: #1d7ff0;}
	.basic-info input{
	margin: 5px 0px 0px 0px;
	padding: 0px 5px 0px 5px;
	border: 0px;
	background:url("../images/number.png") no-repeat;background-position: right 6px;
	}
	.button-div .save-but{
    color: #fff;
    border: 1px solid #ff852a;
    background-image: linear-gradient(#434242,#464646,#404040,#3c3c3c);
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 3px;
    padding: 6px 15px;
    font-size: 12pt;
    }
	.button-div .cancel{text-shadow: inherit;
    border: 0px;
    background-image: inherit;
    color: #333232;
    font-size: 12pt;}
	
	.main_user_info{
    max-width: 100%;
    width: 600px;
    margin: auto;
    display: table;
    }
	
	.addIndex{ cursor:pointer;}
	
	.updMsg{color:green;font-size:15px;margin-left:35%;font-weight:bold;display:none;}
	
	@media(min-width:320px) and (max-width:600px)
	{
		.basic-info p {font-size: 9pt;}
		.main_user_info, .left-tabs, .right-tab{width:100%;}
		.main_user_info, .left-tabs, .right-tab-modal{width:100%;}
		.basic-info label {width:25%;}
		.basic-info p {margin: 0px 0px 10px;}
		.dob {width:100%;}
		.rel {width: 35%;}
	}
	@media(max-width:768px)
	{
	    .edit {top: 38px;right: 0;}
        .write {bottom: 10px;right: 0;}	
	}
	