
.checkThumb:checked+img{
	
	border : 1px solid #000;
	
}

p.vid_info{
	color : #888888;
	font-size: 1.4rem;
	font-family : "Arial Black", Gadget, sans-serif ;
	font-weight : 500;
	text-shadow :none;
	margin:10px 0 0 11px;
}
p span.vid_views{
	float:left;
}
p span.vid_time{
	float:left;
	margin-left: 10px;
}
.video-js{
	width:100%;
	height: 100%;
}

.disNonVid source{
	display:none;
}
.uplod.video{
	width : 342px !important;
	background-color : #ffffff !important;
	margin : 0px 0px 2% 0px !important;
	height: 300px !important;
	padding : 0px 2px  !important;
	border : none;
}


.video_on_profile{
	width : 100% !important;
	height: 280px !important;
}
h5 a.vid_link {
    color: #212121 !important;
    margin: 8px 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight : 600;
	text-shadow :none;
}
h5.style-scope {
	margin: 20px 0 0 10px;
	font-size: 1.5rem;
}

.image-preview{
	cursor :pointer;
	width : 100% !important;
}
.vjs-text-track-display{
	bottom : 0em !important;
}

#map {
	width: 100%;
	height: 400px;
}
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#controlss{
	border: 1px solid #cbcbcb;
    border-radius: 2px 0 0 2px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
    box-sizing: border-box;
    height: 37px;
    margin-top: 1px;
    outline: medium none;
    width: 100%;
	padding-left:7px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
.controlss {
	border: 1px solid #cbcbcb;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 37px;
    margin-top: 1px;
    outline: medium none;
    width: 223px;
	padding-left:7px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
	background-color: #fff;
	width: 100%;
}
#searchInput {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 0px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 100%;
}
#searchInput:focus {
 	border-color: #4d90fe;
}
#cboxWrapper{
	width:100% !important;
}
#cboxContent{
	width:100% !important;
}
#cboxLoadedContent{
	width:100% !important;
	overflow:hidden !important;
}
#uploadMore{
	filter: none !important;
	width:100%;
}
#cboxOverlay{ 

visibility: visible; opacity: 0.9 !important;

}
#cboxOverlay:before {
    content: "\25AE";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    float:right;
	top:0;
 }

.modal-backdrop.in{ 
opacity :0.9 !important; 
}

.GalleryGrid:before,
.GalleryGrid:after {
      GalleryGrid: "";
      display: table;
    }
    .GalleryGrid:after {
      clear: both;
    }
    .item {
      float: left;
      margin-bottom: 15px;
	  
    }
    .item img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: bottom;
    }
    .first-item {
      clear: both;
    }
 
    .last-row, .last-row ~ .item {
      margin-bottom: 0;
    }


.file-upload-container {
    width: 150px;
    /* border: 1px solid #efefef; */
    padding: 2px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #fbfbfa;
    font-family: calibri;
    font-size: 16px;
}
.file-upload-override-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 0;
    border: 1px solid #888;
    color: #444;
    font-size: 10px;
    font-weight: 600;
    padding: 2.5% 10% ;
    text-decoration: none;
    font-family: sans-serif,arial;
    text-transform: uppercase;
    margin-top: 4px;
}

.total-wrap.another{
				background-color: rgba(0, 0, 0, 1);
			    overflow-x: hidden;
			    position: fixed;
			    transition: all 0.5s ease 0s;
			    z-index: 200;
			    width: 100%;
				max-width:100%;
			    height: 100%;
			}
			.justify-content-center{
			}
			.main-wrap{
				/* margin:10% 0 0 22%; */
				margin-top:80px ;
			}

.file-upload-override-button-album {
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 2%, rgb(240, 240, 240) 2%, rgb(222, 222, 222) 100%);
    border: 1px solid #888;
    border-radius: 0;
    color: #444;
    cursor: pointer;
    font-family: sans-serif,arial;
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
    overflow: hidden;
    padding: 6.5% 6%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.file-upload-override-button i {
    margin-right: 5px;
}
.file-upload-button {
    position: absolute;
    height: 50px;
    top: -10px;
    left: -10px;
    cursor: pointer;
    background: #fff;
    opacity: 0;
}
.file-upload-filename {
    margin-left: 10px;
    height: auto;
    padding: 8px;
}
.both {
    clear: both;
}

.btn-radio {
	width: 100%;
}

.img-radio {
	margin-bottom: 0px;
}

.space-20 {
    margin-top: 20px;
}
.col-xs-4{
	width : 19.9% !important;
	padding-left : 2px !important;
	padding-right : 2px !important;
}
.ytd-thumbnail{
	align-items: center;
    background-color: hsl(0, 0%, 6.7%);
    border-radius: 2px;
    bottom: 100px;
    color: hsl(0, 0%, 100%);
    display: inline-flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
    margin: 10px;
    opacity: 0.8;
    padding: 2px 4px;
    position: absolute;
    right: 0;
}	
.vidPopBtn .disBdy{
	padding: 0px;
}
.vidColSix{
	z-index : 100;
	position: relative !important;
	float : right !important;
}
.vidColSixCont{
	float : right !important;
}
.newBtnVid{
	display: none;width: auto;margin-bottom: 4px;
}
.faUpld{
	font-size:25px !important;
}
.faPluse{
	vertical-align: middle;
	font-size:18px !important;
	margin-right:5px;
}
.SpnUpld{
	font-size:18px;
}
.frmVidSub{
	display:none;
}
.disModel{
	z-index:15000;margin-top:22%;
}
.disHeader{
	padding:5px 5px 5px 11px;
}
.disTitle{
	color:#000;font-weight:600;
}
.disBdy p {
	color:#000; font-size:16px;margin-top:2%;margin-left:2%;
}
.disVidFoot{
	padding:5px;
}
.disVidFoot button{
	padding: 2px 9px;
}
.text_input{
	width:60% !important;
}
.text_area_row{
	height:auto !important;
}
.select_box{
	width:35% !important;
}
.form_main select{
	margin-top:0px !important; 
	margin-left : 1%;
}



.box_ttp{
	box-shadow : 1px 0 2px 2px silver ;
	width : 98% !important;
	padding : 1%;
	margin-bottom:0.5% ;
	margin-top: 1%;
	margin-left: 0.5%;
}
.right_box{
	overflow-y:scroll;
	height:400px;
}
.video-upload-progress{
	left : 41% !important;
	top :  9px !important;
	color:#000;
	font-family:serif;
	font-size:14px;
}

.remove_video{
	width : 100% !important;
	height: 13px;
}

.remove-video{
	float:right;
	color:red;
	font-size:18px;
	cursor:pointer;
}