



@media only screen and (min-width: 1boldpx) and (max-width: 4000px) {
 
   
}




@media only screen and (min-width: 1200px) and (max-width: 1920px) {
 
    
}


@media only screen and (min-width: 992px) and (max-width: 1199px) { 
	
.spaces {
	padding: 0 5px;
	margin: 0 3px;
	background: #f7fafc;
	width: 48.45%;
}   	  
		 

		 
		
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.spaces {
	padding: 0 5px;
	margin: 0 3px;
	background: #f7fafc;
	width: 97%;
}

.post_heading {
    width: 274px;
    float: left;
}

.post_edit {
    float: left;
    margin-right: 0;
    text-align: right;
}

.post_setting {
    float: right;
    margin-right: -15px;
}



  
	 
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  
}
@media only screen and (max-width: 767px) {
.spaces {
	padding: 0 5px;
	margin: 0 3px;
	background: #f7fafc;
	width: 97%;
}

.post_heading {
    width: 274px;
    float: left;
}

.post_edit {
    float: left;
    margin-right: 0;
    text-align: right;
}

.post_setting {
    float: right;
    margin-right: -15px;
}
.full_witdh_bg {
    background: #f7fafc;
    display: block;
    overflow: hidden;
    width: 58%;
    height: 35px;
}
.add_new_panl {
    margin-left: 9px;
}	
   
.side_menu {
    float: left;
    width: 100%;
    z-index: 99999;
}	 
 
 #main_wrapper {
    width: 100%;
    float: right;
} 
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
 #main_wrapper {
    width: 100%;
    float: right;
}
.side_menu {
    float: left;
    width: 100%;
    z-index: 99999;
}	
.spaces {
	padding: 0 5px;
	margin: 0 3px;
	background: #f7fafc;
	width: 97%;
}

.post_heading {
    width: 274px;
    float: left;
}

.post_edit {
    float: left;
    margin-right: 0;
    text-align: right;
}

.post_setting {
    float: right;
    margin-right: -15px;
}
.full_witdh_bg {
    background: #f7fafc;
    display: block;
    overflow: hidden;
    width: 58%;
    height: 35px;
}
.add_new_panl {
    margin-left: 9px;
}

.tab_heaser {
	display: none;
}
	
}

@media only screen and (min-width: 320px) and (max-width:480px) {
.spaces {
	padding: 0 5px;
	margin: 0 3px;
	background: #f7fafc;
	width: 97%;
}

.post_heading {
	width: 170px;
	float: left;
}

.post_edit {
    float: left;
    margin-right: 0;
    text-align: right;
}

.post_setting {
    float: right;
    margin-right: -15px;
}
.tab_heaser {
	display: none;
}
 .left_box {
	display: none;
}

label.compose {
	float: right;
	margin-top: 17px;
	z-index: 99999;
	position: absolute;
	right: 27px;
}
#tab_area {
	overflow: hidden;
	width: 100%;
	background: #dddddd;
	margin-top: 20px;
}


}

 
 