 body{
	font-family:lato;
}
.container.space {
    width: 100%;
}
.space{
	margin:0;
	padding:0;
}
.spaces{
	padding:5px 0;
}
.post_edit {
    float: right;
    margin-right: -20px;
}
#header_top_section{
	background:#000; 
	border-top:3px solid #ff852a;
}
.question_icon {
    margin-left: -22px !important;
}
.myclass {
    width: 30px;
}
.single_icon i {
    border: 1px solid #ff852a;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 21px;
    margin-top: 10px;
    padding-top: 2px;
    border-radius: 5px;
}
.search_Box {
    margin-top: 6px;
}
.user_menu {
    padding-left: 130px;
    padding-top: 2px;
}
.user_box {
    width: 130px;
}
.user_box img {
    float: left;
}
.user_box p {
    float: right;
    color: #fff;
    line-height: 17px;
    padding-top: 6px;
}
.user_setting{}
.user_setting ul{
	margin:0;
	padding:0;
	list-style:none;
}
.user_setting ul li {
    float: left;
    line-height: 49px;
}
.user_setting ul li a.active {
    text-decoration: none;
    color: #fff;
    padding: 0 16px;
    font-size: 22px;
}
.user_setting ul li a {
    text-decoration: none;
    color: #646362;
    padding: 0  6px;
    font-size: 22px;
}
.user_setting {
   
}
.{}
 
 /** search input **/
 .title-container {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.title-container .title {
  -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
      transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.25s;
          -o-transition-delay: 0.25s;
     transition-delay: 0.25s;
  margin: 0;
  color: #6078EA;
}
.title-container .title-down {
  -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
      transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.25s;
          -o-transition-delay: 0.25s;
     transition-delay: 0.25s;
  margin: 0;
  color: #6078EA;
}
.is-focus .title-container .title {
  -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
      transform: translateY(0);
}
.is-type .title-container .title-down {
  -webkit-transform: translateY(-30px);
          -ms-transform: translateY(-30px);
      transform: translateY(-30px);
}
.is-type .title-container .title {
  -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
      transform: translateY(-100%);
}

.field-container {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0; 
  height: 40px;
}

.icons-container {
    position: absolute;
    top: 5px;
    right: 0;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.icon-close {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75%;
  height: 75%;
  opacity: 0;
  cursor: pointer;
  -webkit-transform: translateX(-200%);
          -ms-transform: translateX(-200%);
      transform: translateX(-200%);
  border-radius: 50%;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-close:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px solid transparent;
  border-top-color: #6078EA;
  border-left-color: #6078EA;
  border-bottom-color: #6078EA;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.icon-close .x-up {
  position: relative;
  width: 100%;
  height: 50%;
}
.icon-close .x-up:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 3px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.icon-close .x-up:after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 0px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
.icon-close .x-down {
  position: relative;
  width: 100%;
  height: 50%;
}
.icon-close .x-down:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
.icon-close .x-down:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 1px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.is-type .icon-close:before {
  opacity: 1;
  -webkit-animation: spin 0.85s infinite;
          animation: spin 0.85s infinite;
}
.is-type .icon-close .x-up:before, .is-type .icon-close .x-up:after {
  -webkit-animation: color-1 0.85s infinite;
          animation: color-1 0.85s infinite;
}
.is-type .icon-close .x-up:after {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.is-type .icon-close .x-down:before, .is-type .icon-close .x-down:after {
  -webkit-animation: color-1 0.85s infinite;
          animation: color-1 0.85s infinite;
}
.is-type .icon-close .x-down:before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.is-type .icon-close .x-down:after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.icon-search {
  position: relative;
  top: 5px;
  left: 8px;
  width: 50%;
  height: 50%;
  opacity: 1;
  color:#4f4c4a;
  border-radius: 50%;
  border: 3px solid #4f4c4a;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-search:after {
  content: "";
  position: absolute;
  bottom: -9px;
  right: -2px;
  width: 4px;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  height: 10px;
  background-color: #4f4c4a;
}

.field {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background:#2d2c2c !important;
  border-radius: 0;
  background:#000;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.field:focus {
  outline: none;
}
.field:focus + .icons-container .icon-close {
  opacity: 1;
  -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
      transform: translateX(0);
}
.field:focus + .icons-container .icon-search {
  opacity: 0;
  -webkit-transform: translateX(200%);
          -ms-transform: translateX(200%);
      transform: translateX(200%);
}






/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
  width:100%;
}

.custom-dropdown select {
  background-color: #f5f9fb;
  color: #000;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0; 
  text-indent: 0.01px;
  -o-text-overflow: '';
     text-overflow: '';
  border:1px solid #dddddd;
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
   width: 100% !important;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
  border:1px solid #dddddd;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color:#f5f9fb;
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}


input.testrs {
    width: 100%;
    background: #f5f9fb;
    border: 1px solid #dddddd;
    height: 38px;
    padding-left: 10px;
    margin-top: 10px;
}

.compose_message{
	position:relative;
}
.compose_message ul{
	margin:0;
	padding:0;
	list-style:none;
}
.compose_message ul li{
	float:left;
	margin-right:10px;
}
.compose_message ul li a{
	 
}
label.compose {
    float: right;
    top: 18px;
    z-index: 99999;
    position: absolute;
    right: 8px;
}
.upgard_button input {
    background: #000;
    color: #fff;
    border: 0px solid;
    height: 40px;
    width: 170px;
    font-size: 15px;
    font-weight: 700;
	margin-top:10px;
}




wrapper {
  margin: 20px auto;
  width: 500px;
}

.form-input {
  border: 1px solid #ebebeb;
  font-size: 2rem;
  position: relative;
}

.form-input + .form-input {
  margin-top: .8em;
}

.form-input .input {
  background: #fff;
  border: none;
  padding: .4em .7em;
  width: 100%;
}
.form-input .input:focus {
  background: #ffc;
}

.form-input .icon {
  left: 0;
  margin: .5em;
  position: absolute;
  top: 0;
}

.form-input .icon ~ .input {
  padding-left: 2em;
}

.form-input .button {
  background: none;
  border: none;
  margin: .5em;
  position: absolute;
  top: 0;
  right: 0;
}

.form-input .button ~ .input {
  padding-right: 2em;
}


.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


#tab_area{
	overflow:hidden;
	width:100%;
	background:#dddddd; 
	
}
.active_tab {
    width: 100px;
    background: #dddddd;
    overflow: hidden;
}
.active_tabs_add p {
    font-size: 14px;
    font-weight: 300;
    padding-left: 5px;
    padding-top: 5px;
    float: left;
}
.active_tabs_add img {
    padding-top: 9px;
    float: right;
    padding-right: 7px;
    padding-top: 10px;
}
.active_tabs_add i {
    float: right;
    padding-top: 8px;
    margin-right: 8px;
}
.add_new_panl {
    background: #dddddd;
    width: 28px;
    height: 35px;
    text-align: center;
    padding-top: 6px;
    border-left: 1px solid #fff;
}
 
.add_new_panl {
    margin-left: 9px;
}

.full_witdh_bg {
    background: #f7fafc;
    display: block;
    overflow: hidden;
    width: 130%;
    height: 35px;
    margin-left: -67px;
}
.tab_heaser{
	overflow:hidden;
	width:100%;
	background:#dddddd;
}
.add_new_panl{}
.add_new_panl i{} 
.active_tabs_add{}
.active_tabs_add p{}
.active_tabs_add i{}
.full_witdh_bg{}
.navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
    padding-left: 35px;
}
.window_details {
    background: #dddddd;
    overflow: hidden;
    margin:12px;
    width: 100%;
}
button.btn.btn-add {
    background: #fff;
    color: #434343;
    font-size: 12px;
    border-radius: 0px;
    margin-left: 10px;
}
a.btn.btn-add {
    background: #fff;
    color: #434343;
    font-size: 12px;
    border-radius: 0px;
    margin-left: 10px;
}
button.btn.btn-add img {
    width: 11px;
    margin-right: 3px;
    margin-top: -2px;
}
.box {
    width: 30px;
    height: 30px;
    background: #fff;
    float: left;
    margin-left: 8px;
    text-align: center;
    padding-top: 6px;
}

.right_box {
    float: right;
    margin-right: 30px;
}

.my_post {
    background: #000;
	overflow:hidden;
}
.icon_quesiton {
    border: 1px solid #ff852a;
    width: 25px;
    float: left;
    text-align: center;
    height: 25px;
    color: #fff;
    margin-top: 7px;
    margin-left: -10px;
}
.my_post {
    margin-bottom: 10px;
}
.my_post p {
    color: #fff;
    padding-top: 8px;
    width: 130px;
    float: left;
    padding-left: 10px;
    font-size: 12px;
}

.doted {
    background: #ff852a;
    border: 0px solid;
    height: 40px;
    width: 40px;
}
.boxs {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}


.full_post_img img {
    width: 100%;
}
.post_body{
	background:#f7fafc;
}
.post_img_box {
    background: #fff;
    padding: 5px;
    margin:  0;
}

.spaces{
	padding:5px;
	margin:0;
	height: 1319px;
}

.media.posta {
    padding: 10px 0 30px 0;
}
h4.media-heading.another {
    color: #2170c9;
    font-weight: 700;
    font-family: lato;
    font-size: 18px;
}
h4.media-heading.another {
    color: #2170c9;
    font-weight: 900;
    font-family: lato;
    font-size: 18px;
}
.media-body.my p {
    font-size: 12px;
    font-weight: 900;
    line-height: 10px;
}

.post_review {
    border-top: 1px solid #c0c1c0;
    border-bottom: 1px solid #c0c1c0;
    line-height: 40px;
    margin: 10px 0 0 0 ;
}
.post_review{}
.post_review a {
    font-family: lato;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 3px;
}

.post_review a span {
    padding-left: 0;
    padding-right: 8px;
}
.post_load_more {
    background: #eef0ef;
    padding: 0;
    margin: initial;
    line-height: 40px;
}
.post_load_more p{
   color:#2170c9;
   font-weight:900;
}



.media.new h4 {
    color: #2170c9;
    font-size: 15px;
    font-weight: 700;
}

.media.new h4 {
    color: #2170c9;
    font-size: 15px;
    font-weight: 700;
}

.media-body.lefts a {
    float: left;
    margin-right: 5px;
}

.imge_left {
    width: 17%;
    float: left;
}

.text_box input {
    width: 80%;
    height: 46px;
    padding-left: 10px;
}

.text_box {
    position: relative;
}

 .text_box i {
    position: absolute;
    right: 20px;
    margin-top: 15px;
    font-size: 18px;
    margin-right: 0;
}

.new_commetn_box {
    background: #ddd;
    padding: 10px 0;
    overflow: hidden;
}

.text_box a {
    text-decoration: none;
    color: #000; 
    width: 100%; 
    display: inline-block;
    padding-top: 2px;
    padding-left: 52px;
    margin-top: 5px;
}


 
 
 
 
 
 
.my_post.twitter{
    background: #3198da;
}
.icon_quesiton.twit {
    background: #fff;
    color: #3198da;
    border: 0px solid;
    font-size: 15px;
    padding-top: 1px;
} 
button.doted.twis {
    background: #2b7db2;
} 
 
 .icon_quesitons {
    float: left;
    margin-top: 8px;
}
 
 i.re{
    color: #4ad00b;
}
 
i.fa.fa-commenting.com {
    color: #878787;
} 
i.fa.fa-heart.he {
    color: #ef0000;
} 
.post_review {
    width: 100%;
    margin: 0 auto;
    text-align: center;
} 
.media-body.my h3 {
    font-family: Roboto;
    font-size: 14px;
    color: #1a1a1a;
    font-weight: 700;
} 
.media-body.my h3 span{
    font-family: Roboto;
    font-size: 14px;
    color: #1a1a1a;
    font-weight: 400;
} 
 
i.fa.fa-check-circle {
    color: #3198da;
}
.media-body.my h5 {
    font-family: Roboto;
    font-size: 12px;
    color: #1a1a1a;
    font-weight: 300;
    line-height: 20px; 
}
.media-body.my h5 span{
   color:#3198da;
} 



.post_review.bordernone {
    border-bottom: 0px solid;
    margin-top: 4px;
}

.spaces {
    padding: 0 5px;
    margin: 0 2px;
    background: #f7fafc;
    width: 24.69%;
}

.my_post.instragram{ /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(17%, rgba(142,54,174,1)), color-stop(22%, rgba(147,55,168,1)), color-stop(100%, rgba(235,85,77,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(142,54,174,1) 17%, rgba(147,55,168,1) 22%, rgba(235,85,77,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(142,54,174,1) 17%, rgba(147,55,168,1) 22%, rgba(235,85,77,1) 100%); /* opera 11.10+ */ /* ie10+ */
background: linear-gradient(45deg, rgba(142,54,174,1) 17%, rgba(147,55,168,1) 22%, rgba(235,85,77,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb554d', endColorstr='#8e36ae',GradientType=1 ); /* ie6-9 */
}

button.doted.insta {
    background: rgb(195, 82, 55);
}




.my_post.youtube {
    background: #b50011;
}

button.doted.youts {
    background: #940311;
}




.media-left.okimg.media-middle img {
    margin-top: -28px;
}

 


.scrollbar
{
	margin-left: ; 
	height: 1260px;
	width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: auto;
}

 
 
/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #cccccc;
}











nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
        
    }

    /*adds border to bottom nav boxes*/
	   nav.sidebar .navbar-nav > li {
		height: 50px;
	}
    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
		
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    /*gives sidebar width/height*/
nav.sidebar {
    width: 204px;
    height: 1382.5px;
    margin-left: -160px !important;
    float: left;
    z-index: 8000;
    margin-bottom: 2px;
    overflow: hidden; 
    display: block;
	border-radius:0px;
}

.maan_nav{
	float:left;
	width :100%;
}
.maan_nav ul li {
	display:inline;
	font-size:30px;
	margin-left:4%;
	float:left;
	
}

.maan_nav ul li a{
	color:#646362;
	
}


.side_menu:hover nav.sidebar {
    margin-left: -2px !important;
}
	
	
    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
        margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
        width: ; /*keeps 100% minus nav size*/
        margin-left: ;
    }

    /*Show all nav*/
    nav.sidebar{
        margin-left: 0px;
        float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 8px;
}



.side_menu {
    float: left;
    width: 2%; 
    z-index: 99999;
}
#main_wrapper{
	width:98%;
	float:right;
}


.fixed{
	position:fixed;
	top:0;
}



 #tab_area .panel-heading {
        cursor: move;
    }
 #tab_area .panel-heading {
        cursor: move;
    }




ul.nav.navbar-nav li a span {
	display:none;
}
nav.sidebar:hover ul.nav.navbar-nav li a span {
	display:block;
}

nav.sidebar:hover  ul.nav.navbar-nav li img {
    float: left;
    margin-right: 0;
    height: 15px;
    width: 17px;
    position: absolute;
    top: 22x;
    left: 8px;
}


 
ul.nav.navbar-nav li img {
    float: left;
    margin-right: 0;
    height: 15px;
    width: 17px;
    position: absolute;
    top: 18px;
    left: 172px;
    margin-left: 0;
}
ul.nav.navbar-nav li { 
    
}
nav.sidebar:hover ul.nav.navbar-nav li { 
     
     
}


.navbar-nav li:hover{
	background:#ff852a;
}
 
.navbar-nav li:nth-child(1){
	background:#222222;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}
.navbar-nav li:nth-child(1):hover{
	background:#ff852a;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}

.navbar-nav li:nth-child(2){
	background:#111111;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}
.navbar-nav li:nth-child(2):hover{
	background:#ff852a;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}
 
 
 
.navbar-nav li:nth-child(3){
	background:#222222;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}
.navbar-nav li:nth-child(3):hover{
	background:#ff852a;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}


.navbar-nav li:nth-child(4){
	background:#111111;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}
.navbar-nav li:nth-child(4):hover{
	background:#ff852a;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}  
  
  
  
.navbar-nav li:nth-child(5){
	background:#222222;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}
.navbar-nav li:nth-child(5):hover{
	background:#ff852a;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}


.navbar-nav li:nth-child(6){
	background:#111111;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}
.navbar-nav li:nth-child(6):hover{
	background:#ff852a;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}


.navbar-nav li:nth-child(7){
	background:#222222;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}
.navbar-nav li:nth-child(7):hover{
	background:#ff852a;
	-webkit-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition:all ease-in-out 500ms;
}




.navbar-nav li:nth-child(8){
	background:#111111;
}
.navbar-nav li:nth-child(8):hover{
	background:#ff852a;
} 


.navbar-nav li a{
	text-decoration:none;
	font-size:16px;
	color:#fff;
}



section#upgarde_option {
    padding: 10px 0 15px 0;
}

.panel-heading {
    padding: 0 !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.post_title_ber {
    padding: 0;
    margin-left: -6px;
    width: 104%;
    margin-top: -1px;
}

.upgard_button {
    float: right;
}