	.upload-btn-wrapper {
	  position: relative;
	  overflow: hidden;
	  display: inline-block;
	  
	}
	.img_size{
		width: 16.6%;
		
	}
	.img-size{
		padding-left:5px;
		padding-right:5px;
	}
	
	.img-container{
		max-height:100%;
	}
	.thumb{
		height:100%;
	}
	
	.photo_size{
		width:164px !important;
		height:170px !important;
	}
	.addPhoto{
		float:left;
	}
	
	.album-title {
		display:inline-block;
	}
	
	.upload-btn-wrapper input[type=file] {
	  position: absolute;
	  left: 0;
	  top: 0;
	  opacity:0;
	  width:100%;
	  height:37px;
	}
	
	#file-upload-button:hover {
		cursor:pointer;
	}
	
	#lcl_overlay{
		opacity : 1 !important;
	}
	
	#map {
		width: 100%;
		height: 400px;
	}
	.controls {
		margin-top: 10px;
		border: 1px solid transparent;
		border-radius: 2px 0 0 2px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 32px;
		outline: none;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}
	#controlss {
		border: 1px solid #cbcbcb;
		border-radius: 2px 0 0 2px;
		/* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
		box-sizing: border-box;
		height: 37px;
		margin-top: 1px;
		outline: medium none;
		width: 100%;
		padding-left:7px;
		font-size: 15px;
		font-weight: 300;
		text-overflow: ellipsis;
	}
	.controlss {
		border: 1px solid #cbcbcb;
		border-radius: 2px 0 0 2px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		height: 37px;
		margin-top: 1px;
		outline: medium none;
		width: 223px;
		padding-left:7px;
		
		font-size: 15px;
		font-weight: 300;
		text-overflow: ellipsis;
		background-color: #fff;
		width: 100%;
	}
	#searchInput {
		background-color: #fff;
		
		font-size: 15px;
		font-weight: 300;
		margin-left: 0px;
		padding: 0 11px 0 13px;
		text-overflow: ellipsis;
		width: 100%;
	}
	#searchInput:focus {
		border-color: #4d90fe;
	}
	#cboxWrapper{
		width:100% !important;
	}
	#cboxContent{
		width:100% !important;
	}
	#cboxLoadedContent{
		width:100% !important;
		overflow:hidden !important;
	}
	#uploadMore{
		filter: none !important;
		width:100%;
	}
	
	#cboxOverlay{ 

	visibility: visible; opacity: 0.9 !important;

	}
	#cboxOverlay:before {
		content: "\25AE";
		font-family: FontAwesome;
		left:-5px;
		position:absolute;
		float:right;
		top:0;
	 }

	.modal-backdrop.in{ opacity :0.9 !important; }
	
	