/* CSS Document */
.outer{ float:left; width:100%;}
.main_box{ float:left; width:100%; background:#fff; padding-bottom:50px;}
.right_box{ float:left; width:100%; margin-top:20px;}
.mesge_box{ float:left; width:100%; border:1px solid #5890ff; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; margin-bottom:20px;}
.mesge_box span{ float:left; width:50px;height:100px; background:#5890ff; text-align:center; padding-top:10px;}
.mesge_box h1{ float: left;font-size: 16px;font-weight: bold;margin: 10px 0 0;padding-left: 10px;width: 93%;}
#modelid{ color: #333;font-family: "robotoregular";font-size: 13px;font-weight: normal;line-height: 1.42857;}
#modelid #progress{background:none;	background-color:#f5f5f5 !important;padding-right:0px;}
#modelid h1,#modelid label,#modelid p,#modelid select{color:#333333;}
.mesge_box p{ margin-bottom:0px;}
.mesge_box p{ float:left;    width: 93%; padding-left:10px; }
.check_box_mian{ float:left; width:93%; padding-left:10px; font-weight:bold; color:#6e6e6e;}
.pad_left{ padding-left:0px!important;}
.pad_right{ padding-right:0px!important;}
.video{ float:left; width:100%; height:150px; background:#dddddd; border:1px solid #b2b2b2;}
.video_text h1{ float:left; width:100%; font-size:14px; font-weight:bold; color:#505050; margin-bottom:5px;}
.form_main{ float:left; width:100%;}
.form_main input{ float:left; width:100%; height:30px; border:1px solid #c3c3c3; padding-left:10px; margin-bottom:10px;}
.uploding_br{ float:left; width:100%; padding:10px 0px; border:1px solid #c3c3c3; }
.form_main label{ float:left; width:100%; margin-top:5px; margin-bottom:30px;}
.form_main textarea{ float:left; width:100%; height:100px;  border:1px solid #c3c3c3; padding-left:10px; margin-bottom:10px;}
.tages{ float:left; padding:15px 0px; width:100%;  border:1px solid #c3c3c3; padding-left:10px; color:#bbbbbb;}
.form_main select{ float:left; width:100%; height:30px;  border:1px solid #c3c3c3; padding-left:10px;  margin-top:10px;}
.test_monial{ float:left; width:100%; margin-top:20px;}
.test_monial h1{ float:left; font-size:14px; width:100%; margin:0px; margin-bottom:5px;}
.test_monial ul{ float:left; width:100%; list-style:none; padding-left:0px; margin-top:10px;}
.test_monial ul li{ float:left; margin-right:20px; }
.test_monial button{ /*background:#157bc7;*/ float:right; border:none; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; padding:4px 40px; color:#fff; margin-top:20px;}
#video-post-button{margin-left:5px;}
.right_menu_br{ float:left; width:100%; border:1px solid #979797;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; padding:10px 20px; margin-top:140px;}
.right_menu_br ul{ padding-left:0px; width:100%; list-style:none; float:left;}
.right_menu_br ul li{ margin-bottom:3px;}
.right_menu_br ul li a{ color:#333; text-decoration:none;}
.box_ttp{ float:left; width:100%;}
 #files{ width: 100%; }
 #files video{ width: 100%; }
 .upload-video-button-container,.upload-video-button{ display:none;}
.title-error{ color:red;display:none;}
.video-upload-progress{ position: absolute;left: 50%;top: 0px;}
.fileinput-button{overflow:inherit;}
.fileinput-button input{width:100%;height:28px; font-size:0px;}
#testy {position: fixed;bottom: 0;left: 20px;}
#testy .closeToastee{ width:25px !important; height:25px !important;}
ul.video-thumbnail-section li{position:relative;}
.videothumb{position: absolute;left: 0;bottom: -1px;height: 20px;width: 20px;}
.progress { width: 99.9%; }
@media only screen and (max-width: 980px) {
.mesge_box h1{ width:90%;}
.mesge_box p{ width:90%; font-size:13px;}
.check_box_mian{ width:90%;}
.right_menu_br {
  
    padding: 10px;

}
}
@media only screen and (max-width: 640px) {
.mesge_box span{ width:100%;}
.mesge_box h1{ width:100%; padding-right:10px;}
.mesge_box p{ width:100%; padding-right:10px; }
.check_box_mian{ width:100%; padding-right:10px;}
.pad_right{ padding-left:0px!important;}
.test_monial ul li img{ width:100%;}
.test_monial ul li{ width:100%; margin-bottom:15px;}
.right_menu_br{ margin-top:40px;}
.pad_left{padding-right:0px!important;}
}

