label{
	font-weight:700;
}

h4 {
    font-size: 13px!important;
}

.btn-primary{
	font-size:11px;
}

a{
	transition: all 0.5s ease;
}

.no-padding{
	padding:0;
}

.thumbWdd{
	padding: 0;
	width: 25%;
	float: left;
}
.star{
	color:red;
}

.video-main-wrap{
	background-color:#fff;
	padding:2% 2% 0 2%;
	border: 10px solid #7f7f7f;	
	margin-left:13%;
}



.another .videos-main-wrap{
	max-height: 760px;
	overflow-x: scroll;
}


.nice-select{
	
	border-radius:0;	
	height:31px;
	line-height: 21px;
	font-size: 11px;
	color:#777;
	background-color:#f3f3f3;
     margin-left: 8%;
    margin-top: -8%;
	padding-left: 2%;
    width: 95% !important;
}	
}

.nice-select .list{
	display: grid;
	width: 100% !important;
}

.progress{
	height:16px;
	border-radius:10px;
	margin-bottom:8px;
}


.video-left-wrap{
	padding-right: 0;
}

@media(max-width:767px){
	.video-left-wrap{
		padding-right: 15px;
	}
}

.video-left-wrap img{
	width:100%;
}

.img-container{
	padding:3px;
}

.video-tab-wrap .status{
	margin-top:20px;
	font-size:14px;
}

.status_sub{
	margin-bottom:30px;
}

.info-sec{
	background-color:#2f2f2f;
	color:#fff;
	border:1px solid #dc25d6;
	padding: 16px 12px 8px 16px;	
}

.fa-info-circle{
	font-size: 16px;
	margin-right:10px;
	clear: both;
}

#checkBox{
	margin-right:15px;
}

.bal1,.bal2{
	padding-right:0;
}

@media(max-width:800px){
	.bal1,.bal2,.bal3{
		padding-bottom:10px;
	}
}

@media(max-width:1024px){
	.bal1 span,.bal2 span,.bal3 span{
		font-size:10px;
	}
}



.progress-bar{
	background-image: -moz-linear-gradient( 0deg, rgb(48,124,240) 0%, rgb(227,33,213) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(48,124,240) 0%, rgb(227,33,213) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(48,124,240) 0%, rgb(227,33,213) 100%);
	text-align: center;
	padding-right: 18px;
	border-radius:10px;
	height:16px;
}

.another-video .progress-bar{
	background:#16a122 !important;
}


	.tag-editor{
		background-color:#f3f3f3;
		padding:3px 0;
    	font-size: 11px;
	}

	.tag-editor .tag-editor-delete {
	    background: #fff;
	    cursor: pointer;
	    border-radius: 0 2px 2px 0;
	    padding-left: 3px;
	    padding-right: 4px;
	}

	.tag-editor .tag-editor-delete i{
		line-height:21px;
		font-size:14px;
	}




	.tag-editor .tag-editor-delete i:hover{
		color:#000!important;
	}

	.tag-editor .tag-editor-tag {
		font-size:13px;
		padding-top:2px;
	    padding-left: 5px;
	    background: #fff;
	    white-space: nowrap;
	    overflow: hidden;
	    cursor: pointer;
	}

	.tag-editor .tag-editor-tag{
		color:#777;
	}

	.tag-editor-tag{
		color:#777;
		font-size:12px;
		padding-left:10px;
	}

.form-control{
	border: none;
	border-radius:0;
	font-size:11px;
	background-color: #f3f3f3;
}

.video-thumb .control-label{ 
	padding-top:10px;
}

.video-thumbs img{
	padding:5px;
	margin-left:auto!important;
	margin-right:auto!important;
	display:block;
	width:100%;
}

.details{
	margin-top: -50%;
	color: #fff;
	text-align: center;
}

@media(max-width:414px){
	.details {
	    margin-top: -60%;
	    color: #fff;
	    text-align: center;
	}

	.details span{
	   	display:block;
	}
}


.details span{
	font-size:20px;
}
.details a,.details a:hover{
	color:#fff;
	text-decoration: none;
}

.btn-black{
	background-color:#000;
	border:1px solid #ff852a;
}

.btn-gray{
	background-color:#f3f3f3;
	color:#000;
	border:1px solid transparent;
}


.btn-gray,.btn-black{
	padding: 8px 34px;
	float:right;
}

@media(max-width:1024px){
	.btn-gray,.btn-black{
		padding: 8px 25px;
	}
}

.footer-group{
	margin-bottom:0px;
}

.btn-gray:hover,.btn-black:hover{
	background-color:#ff852a;
	border-color:transparent;
}


.footer-part{
	padding-bottom:20px;
}


.add-another{
	float:left;
	margin-top:0;
}


@media(max-width:800px){
	.publish-section{
		padding-top:30px;
	}
}

@media(max-width:767px){
	.right-wrap{
		margin-top:30px;
	}
}

@media(max-width:768px){
	.bbtn{
		margin-top:20px;
	}
}

.another-video{
	border-top: 1px solid #dddddd;
	margin-top: 15px;
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
}

@media(max-width:767px){
	.another-video .right-wrap{
		margin-top:30px;
	}
}


.more-less-btn:before{
	width:50%;
	height:30px;
	background-color:red;
}



.collapse.show {
    display: block;
    visibility: visible;
}

.video-main-area .total-process{
	border-top:1px solid #dddddd;
	padding-top:15px;
}


@media(max-width:800px){
	.bbtn{
		margin-top:20px;
	}
}
