.popUp.video{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
	width:100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 300;
}

.img-container{
	width:25%;
	float:left;
}

.checkThumb:checked+img{
	
	border : 1px solid #000;
	
}

.container.whiteBoard{
	width:100%;
}

.overlay.videos{
	background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
	width:100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 300;
}

.col:hover {
	
    border: medium none;
    box-shadow: none;
	
}

.btn-primary:focus, .btn-primary:hover {
	
	background-position:0 -36px !important;
	
}




