.main-wrap{
	/* top:12%;
	left:20%; */
}
.overlay.audio{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
	width:100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 200;
}