

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.main-wrap{
	padding:0;
}


.total-wrap{
	// background-color:#7f7f7f;
	padding:20px;
}

.main-area{
	background-color:#fff;
	display:flex;
	border:9px solid #7f7f7f;
}
@media(max-width:1024px){
  .main-area{
  	display:grid;
  } 
}


.control-label,.form-control,.nice-select,.btn-info{
	font-size:11px;
}

a:hover{
	text-decoration: none;
}

.control-label,.left-bar span{
	color:#333333;
}

.left-bar,.right-content{
	padding-top:15px;
}

.bottom-wrap{
	margin-bottom:15px;
}

.bottom-wrap .nice-select {
	width: 100%;
	border-radius: 0;
	height: 29px;
	line-height: 24px;
	margin-top:6px;		
}


.left-bar p{
	color:#777777;
}

.left-bar p span{
	color:#333333;
}


.star{
	color:red;
}

.form-control{
	border-radius:0;
	background-color:#f3f3f3;
	height:25px!important;
	padding: 4px 12px;
}

.add-change-btn{
	background-color: #000;
	color: #fff;
	padding: 6px 18px;
	border: 1px solid #ff852a;
	margin-top: -32px;
	position: absolute;
	font-size: 10px;
	margin-left: 4px;
}



.tabs-left, .tabs-right {
  border-bottom: none;
}
.tabs-left {

}
.tabs-right {

}
.tabs-left>li, .tabs-right>li {
  float: none;
  border-bottom:2px solid #ff852a;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}



.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
	background-color: #ff852a;
	border-radius:0;
	color: #fff;
	border:none;
}

.tabs-left>li>a {
  margin-right: 0;
  border-radius:0;
  color:#fff;
  display:block;
  border:1px solid transparent; 
  background-color:#000;
}

.tabs-left>li>a:hover{
	background-color:#000;
	border-color:transparent ;
} 

.left-bar,{
	padding: 0;
}

.left-bar img{
	width: 100%;
}

.drop-downs{
	padding-left: 0;
}
.drop-downs2{
	padding-right: 0;
}

.abstract {

 font-weight: bold;
 height: 20px;    
 overflow: hidden;
}

.more {

 font-weight: bold;
}

.abstract1 {

 font-weight: bold;
 height: 20px;    
 overflow: hidden;
}

.more1 {

 font-weight: bold;
}

h5 {

 font-weight: bold;
}

span#toggler{
  padding-left: 3px;
  cursor: pointer;
}

.thumb{
	margin-top:10px;
	padding-bottom: 1px;
}


.process-thumb{
height: 145px;
background: black;	
}

.thumb img{
	border:2px solid #eee;
	width:100%;	
}



.meta p{
	color:#fff;
}

ul li{
	/* list-style: none;
	float:left; */
}

.meta{
	margin-top: -52px;
	left: 10.8%;
	width: 100%;
	text-align: center;
}

.add-more{
	margin-top:-62px;
}

.add-more .track-number{
	font-size:18px;
}

.add-more p{
	color:#d628d7;
	font-size: 12px;	
}


.btn-info{
	background: #fff;
	box-shadow: none;
	color:#000;
	border:none;
}

.btn-info:hover{
	background: transparent;
	color:#000;
	border:none;
}
.cols{
	float:left;
	min-width: 30%;
}

.tab-wrap{
	padding:0;
	text-align:center;
}

.left-wrap{
	border-left:2px solid #eee;	padding:0;
}

.more-less{

}

.more-less-btn{
	padding-left:0px;
	padding-right:0px;
	text-align: center;	
}

.middle-border{

}

.float-right-btn{
	float: right;
	margin-top: -24px;	
padding: 2px;
width: 29px;
text-align: center;
margin-top: -19px;	
}


.add-change-btn:hover{
	color:#fff;
	background:#ff852a;
}

.btn-gray{
	margin-top:4px;
	font-size:11px;
	background:#f3f3f3 !important;
	transition: all 0.5s ease;
	color:#000;
	padding:6px 33px;
	border-color: transparent;
}

.btn-gray:hover{
	background:#ff852a !important;
	color:#fffs;
	border-color: transparent;
}

.btn-black{
	margin-top:4px;
	font-size:11px;
	transition: all 0.5s ease;
	background:#000;
	color:#fff;
	padding:6px 33px;
	border:1px solid #ff852a;
}

.message{
	height:86px!important;
}


.btn-black:hover{
	border:1px solid #ff852a;
	background-color:#ff852a;
}

.bottom-wrap{
	margin-top: 20px;
}

.bal{
	margin-top: 5px;
	padding:0;
}

.bbtn{
	padding:0;
	text-align:right;
}

.progress-bar{
  background-image: -moz-linear-gradient( 0deg, rgb(48,124,240) 0%, rgb(227,33,213) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(48,124,240) 0%, rgb(227,33,213) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(48,124,240) 0%, rgb(227,33,213) 100%);
}

.collapse .col-lg-2{
	padding:0;
}

.process-img{
	position:absolute;
	margin-top: -95px;
	z-index: -2;
}

.thumb .progress{

}
.process-upload{
	background-color:#000;
}

.process .meta{

}

.more-less-btn:before{
	width:50%;
	height:30px;
	background-color:red;
}


#header {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 28px;
    position: relative;
}

#header:after {
    content: '';
    width: 100%;
    border-bottom: solid 2px #eee;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}

h3 {
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 20px 0 20px;
    color: white;
    position: relative;
    font-family: calibri;
    font-weight: lighter;
    margin: 0;
}

.bal1,.bal2{
	margin-top:12px;
	font-size:10px;
	padding:0;
}


.bal1,.bal2{
	text-align:left;
}

@media(max-width:1024px){

  .drop-downs{
  	padding-right:0;
  }
  .drop-downs2{
  	padding-left:0;
  } 
}


.bottom-wrap{
	padding:0;
}

.bar-wrap {
	padding-top: 80px;
}

.bar-wrap .track-title{
	padding-top:28px;
	padding-bottom:1px;
	color:#fff;
	text-align:center;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.thumb:hover .middle{
	opacity:1;
}

.thumb:hover .track-number,.thumb:hover .track-title{
	color:transparent;
}


.middle img{
	border:none;
}

.uploading .track-number{
	color:transparent;	
}


.uploading .thumb:hover .track-title{
	color:#fff;
}

.added-more .thumb:hover .track-title,.added-more .thumb:hover .track-number{
	color:#d628d7;
}

.nice-select{
	width: 100%;
	border-radius:0;	
	height:25px!important;
	line-height: 22px;
	margin-bottom:5px;
	border: 1px solid #ccc;
	background-color:#f3f3f3;	
}

.nice-select .list{
	display: grid;
	width: 100%;
}

