#lcl_wrap:not(.lcl_loading_iframe):not(.lcl_toggling_fs):not(.lcl_switching_elem):not(.lcl_first_sizing) #lcl_txt>*{opacity:1;-webkit-transform:none;transform:none}
#lcl_wrap #lcl_txt>*{opacity:0;-webkit-transform:translateY(5px);transform:translateY(5px);-webkit-transition:all .25s ease-in .05s;transition:all .25s ease-in .05s}
#lcl_wrap #lcl_txt>*:nth-child(2){-webkit-transition-delay: .15s;transition-delay: .15s}
#lcl_wrap #lcl_txt>*:nth-child(3){-webkit-transition-delay: .3s;transition-delay: .3s}
#lcl_img_galls .gg_gallery_wrap{text-align:left}
#lcl_inline_code{display:none !important}
.lcl_inl_container{max-width:500px;margin:auto}
.lcl_inline_el{text-align:center}
.lcl_inline_img{margin-top:20px !important}
.lcl_inline_field{margin-top:45px !important;margin-bottom:-18px !important}
.lcl_inline_field input,.lcl_inline_btn .elementor-button-link{width:100%;min-width:70%;max-width:70%}
.lcl_inline_discl{margin-top:5px;color:#aaa;font-size:11px}#lcl_versions_compare .elementor-icon-list-icon{margin-top:-2px}

.pcma_psw_recovery_wrap label, .pcma_psw_recovery_wrap input{
display:inline-block;width:100%;padding:0 0 3px}
.pcma_psw_recovery_message{margin-bottom:18px;min-height:6px}.pcma_psw_recovery_trigger,.pcma_del_recovery{font-size:11px;line-height:15px;cursor:pointer}.pc_rm_login
.pcma_psw_recovery_trigger{margin-left:6px;padding-left:6px;border-left-style:solid;border-left-width:1px;position:relative;top:-4px}.pc_login_form
.pcma_do_recovery{float:left;margin-top:-18px}.PrivateContentLogin .pcma_psw_recovery_message,
.pc_mobile_login
.pcma_psw_recovery_message{margin-bottom:10px !important}.PrivateContentLogin .pcma_do_recovery,
.pc_mobile_login.pcma_do_recovery{float:none;margin-top:10px}
		
		
.PrivateContentLogin .pg_login_row input{float:left;max-width:70%}.pc_form_flist>li>label,.pc_disclaimer_txt{font-size:13px}.pc_form_txt_block
span{color:#555;display:block;font-size:0.97em;line-height:22px;padding:11px
0}.pc_lightbox_contents .pc_error_mess *,
.pc_lightbox_contents .pc_success_mess
*{hyphens:manual}.pc_lb_177>p{display:none}.pc_lb_177 .x-content-band{padding:0;margin:0
!important}.pc_lb_177 .x-columnize{margin-bottom:0}body:not(.page-id-3543) .pcpp_field_top_sep,
body:not(.page-id-3543) .pcpp_plan_choice_wrap,
body:not(.page-id-3543) .pcpp_coupon_wrap{display:none !important}.pc_rf_134 .pcpp_plan_descr
ul{display:none}
		
		
a,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.x-comment-time:hover,#reply-title small a,.comment-reply-link:hover,.x-comment-author a:hover{color:#63a031}a:hover,#reply-title small a:hover,.x-recent-posts a:hover .h-recent-posts{color:#364e00}.entry-title:before{color:#fff}.woocommerce .price > .amount,.woocommerce .price > ins > .amount,.woocommerce-page .price > .amount,.woocommerce-page .price > ins > .amount,.woocommerce li.product .entry-header h3 a:hover,.woocommerce-page li.product .entry-header h3 a:hover,.woocommerce .star-rating:before,.woocommerce-page .star-rating:before,.woocommerce .star-rating span:before,.woocommerce-page .star-rating span:before{color:#63a031}a.x-img-thumbnail:hover,li.bypostauthor>article.comment{border-color:#63a031}.woocommerce div.product .woocommerce-tabs .x-comments-area li.comment.bypostauthor .x-comment-header .star-rating-container,.woocommerce-page div.product .woocommerce-tabs .x-comments-area li.comment.bypostauthor .x-comment-header .star-rating-container{border-color:#63a031}.flex-direction-nav a,.flex-control-nav a:hover,.flex-control-nav a.flex-active,.x-dropcap,.x-skill-bar .bar,.x-pricing-column.featured h2,.h-comments-title small,.pagination a:hover,.x-entry-share .x-share:hover,.entry-thumb,.widget_tag_cloud .tagcloud a:hover,.widget_product_tag_cloud .tagcloud a:hover,.x-highlight,.x-recent-posts .x-recent-posts-img,.x-recent-posts .x-recent-posts-img:before,.x-portfolio-filters{background-color:#63a031}.x-recent-posts a:hover .x-recent-posts-img,.x-portfolio-filters:hover{background-color:#364e00}.woocommerce .onsale,.woocommerce-page .onsale,.widget_price_filter .ui-slider .ui-slider-range,.woocommerce div.product .woocommerce-tabs .x-comments-area li.comment.bypostauthor article.comment:before,.woocommerce-page div.product .woocommerce-tabs .x-comments-area li.comment.bypostauthor article.comment:before{background-color:#63a031}.x-container-fluid.width{width:88%}.x-container-fluid.max{max-width:1200px}.x-main{width:66.79803%}.x-sidebar{width:26.79803%}.x-topbar .p-info,.x-topbar .p-info a,.x-topbar .x-social-global
a{color:#fff}.x-topbar .p-info a:hover{color:#959baf}.x-topbar{background-color:#1f2c39}.x-navbar .x-nav>li:before{padding-top:37px}.x-brand,.x-brand:hover,.x-navbar .x-nav > li > a,.x-navbar .sub-menu li > a,.tp-leftarrow:before,.tp-rightarrow:before,.tp-bullets.simplebullets.navbar .bullet,.tp-bullets.simplebullets.navbar .bullet:hover,.tp-bullets.simplebullets.navbar .bullet.selected,.tp-bullets.simplebullets.navbar-old .bullet,.tp-bullets.simplebullets.navbar-old .bullet:hover,.tp-bullets.simplebullets.navbar-old
.bullet.selected{color:#fff}.x-navbar .x-nav > li > a:hover,.x-navbar .x-nav > .sfHover > a,.x-navbar .x-nav > .current-menu-item > a,.x-navbar .sub-menu li > a:hover,.x-navbar .sub-menu li.sfHover > a,.x-navbar .sub-menu li.current-menu-item > a,.x-nav .x-megamenu>.sub-menu>li>a{color:#fcfcfc}.x-btn-navbar,.x-btn-navbar:hover{color:#fff}.x-navbar .sub-menu li:before,.x-navbar .sub-menu li:after{background-color:#fff}.x-navbar,.x-navbar .sub-menu,.tp-bullets.simplebullets.navbar,.tp-bullets.simplebullets.navbar-old,.tp-leftarrow.default,.tp-rightarrow.default{background-color:#333433 !important}.x-btn-navbar,.x-btn-navbar.collapsed:hover{background-color:#666}.x-btn-navbar.collapsed{background-color:#545454}.x-navbar .x-nav > li > a:hover,.x-navbar .x-nav > li.sfHover > a,.x-navbar .x-nav>li.current-menu-item>a{-webkit-box-shadow:0 2px 0 0 #fcfcfc;box-shadow:0 2px 0 0 #fcfcfc}.x-navbar .x-nav>li{height:110px;padding-top:37px}.sf-menu > li
ul{top:110px}.x-colophon.bottom{background-color:#333433}.x-colophon.bottom,.x-colophon.bottom a,.x-colophon.bottom .x-social-global
a{color:#fff}.h-landmark{font-weight:400}.x-brand,.x-brand:hover{color:#333433}.x-comment-author
a{color:#585858}.woocommerce .price > .from,.woocommerce .price > del,.woocommerce p.stars span a:after,.woocommerce-page .price > .from,.woocommerce-page .price > del,.woocommerce-page p.stars span a:after,.widget_price_filter .price_slider_amount .button,.widget_shopping_cart .buttons
.button{color:#585858}.x-comment-author a,.comment-form-author label,.comment-form-email label,.comment-form-url label,.comment-form-rating label,.comment-form-comment label,.widget_calendar #wp-calendar caption,.widget_calendar #wp-calendar th,.x-accordion-heading .x-accordion-toggle,.x-nav-tabs>li>a:hover,.x-nav-tabs>.active>a,.x-nav-tabs>.active>a:hover{color:#5b5b5b}.widget_calendar #wp-calendar
th{border-bottom-color:#5b5b5b}.pagination span.current,.x-portfolio-filters-menu,.widget_tag_cloud .tagcloud a,.h-feature-headline span i,.widget_price_filter .ui-slider .ui-slider-handle{background-color:#5b5b5b}@media (max-width:979px){.x-navbar .x-nav>li{height:auto;padding-top:0}.x-navbar .x-nav-collapse .x-nav li
a{color:#fff;-webkit-box-shadow:none;box-shadow:none}.x-navbar .x-nav-collapse .x-nav li a:hover,.x-navbar .x-nav-collapse .x-nav .current-menu-item>a{color:#fcfcfc}.x-widgetbar{left:0;right:0}}body{font-size:15px;font-style:normal;font-weight:400;color:#585858}a:focus,select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="submit"]:focus,input[type="checkbox"]:focus{outline:thin dotted #333;outline:5px
auto #63a031;outline-offset:-1px}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-style:normal;font-weight:400;letter-spacing:1px}.x-main.full{float:none;display:block;width:auto}@media (max-width:979px){.x-main.full,.x-main.left,.x-main.right,.x-sidebar.left,.x-sidebar.right{float:none;display:block;width:auto !important}}.entry-header,.entry-content{font-size:15px}.x-brand{font-style:normal;font-weight:400;letter-spacing:-3px}body,input,button,select,textarea{font-family:"Open Sans","Helvetica Neue",Helvetica,sans-serif}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Open Sans","Helvetica Neue",Helvetica,sans-serif}.x-brand{font-family:"Open Sans","Helvetica Neue",Helvetica,sans-serif}.x-navbar .x-nav>li>a{font-family:"Open Sans","Helvetica Neue",Helvetica,sans-serif}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.h1 a,.h2 a,.h3 a,.h4 a,.h5 a,.h6 a,blockquote{color:#5b5b5b}.cfc-h-tx{color:#5b5b5b !important}.cfc-h-bd{border-color:#5b5b5b !important}.cfc-h-bg{background-color:#5b5b5b !important}.cfc-b-tx{color:#585858 !important}.cfc-b-bd{border-color:#585858 !important}.cfc-b-bg{background-color:#585858 !important}.x-navbar{font-size:15px}.x-navbar-inner{min-height:110px}.x-brand{font-size:14px;font-size:1.4rem}.x-navbar .x-brand{margin-top:22px}.x-navbar .x-nav>li>a{font-style:normal;font-weight:400}.x-btn-navbar{margin-top:28px;}.x-btn-navbar,.x-btn-navbar.collapsed{font-size:24px}@media (max-width:979px){}.x-btn,.button,[type="submit"]{color:#fff;border-color:#fff;background-color:#7fc241}.x-btn:hover,.button:hover,[type="submit"]:hover{color:#7fc241;border-color:#7fc241;background-color:#fff}.x-btn.x-btn-real,.x-btn.x-btn-real:hover{margin-bottom:0.25em;text-shadow:0 0.075em 0.075em rgba(0,0,0,0.65)}.x-btn.x-btn-real{-webkit-box-shadow:0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);box-shadow:0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75)}.x-btn.x-btn-real:hover{-webkit-box-shadow:0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);box-shadow:0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75)}.x-btn.x-btn-flat,.x-btn.x-btn-flat:hover{margin-bottom:0;text-shadow:0 0.075em 0.075em rgba(0,0,0,0.65);-webkit-box-shadow:none;box-shadow:none}.x-btn.x-btn-transparent,.x-btn.x-btn-transparent:hover{margin-bottom:0;border-width:3px;text-shadow:none;text-transform:uppercase;background-color:transparent;-webkit-box-shadow:none;box-shadow:none}.x-btn-circle-wrap:before{width:172px;height:43px;background:url(wp-content/themes/x/framework/img/global/btn-circle-top-small.png) center center no-repeat;-webkit-background-size:172px 43px;background-size:172px 43px}.x-btn-circle-wrap:after{width:190px;height:43px;background:url(<?php echo URL; ?>video-lightbox/wp-content/themes/x/framework/img/global/btn-circle-bottom-small.png) center center no-repeat;-webkit-background-size:190px 43px;background-size:190px 43px}.x-btn,.x-btn:hover,.button,.button:hover,[type="submit"],[type="submit"]:hover{text-shadow:0 0.075em 0.075em rgba(0,0,0,0.5)}.x-btn,.button,[type="submit"]{border-radius:0.25em}.x-btn,.button,[type="submit"]{padding:0.429em 1.143em 0.643em;font-size:14px;font-size:1.4rem}
		
		
a:focus,.x-btn:focus,.button:focus,[type="submit"]:focus,a:focus,select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="submit"]:focus,input[type="checkbox"]:focus{outline:none}.single-post h1.entry-title::before{display:none !important}.x-breadcrumbs-wrap
a{display:inline-block;max-width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position:relative;bottom:-3px}
		
.pc_lightbox.mfp-bg{background:#111}
.pc_lightbox.mfp-bg.mfp-ready{opacity:0.8}
.pc_lightbox .mfp-content{padding-right:25%;padding-left:25%}
.pc_lightbox_contents:not(.pc_only_form_lb){padding:25px;border-radius:3px;border:0px solid #ddd;background-color:#fff;color:#555}
.pc_lightbox_contents .mfp-close{background-color:#fff;color:#555;border-radius:3px}
		
		
		